flows.json
[{"id":"42c70daf.af82cc","type":"tab","label":"Home","disabled":false,"info":""},{"id":"9cc75e52.ef3e1","type":"tab","label":"Launchers","disabled":false,"info":""},{"id":"23124348.2a2fec","type":"tab","label":"Robot Control","disabled":false,"info":""},{"id":"dacd6d1b.bc6408","type":"tab","label":"Coffee Shop App","disabled":false,"info":""},{"id":"ecf93f80.b50dd8","type":"tab","label":"House Security App","disabled":false,"info":""},{"id":"61640ddb.348604","type":"tab","label":"Art Gallery App","disabled":false,"info":""},{"id":"2af08135.1c0cd6","type":"subflow","name":"Real Time Button","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"aba85f87.db3f3"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"d08da359.cf987","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"db578bcb.6a1f9","type":"mqtt-broker","z":"","name":"","broker":"155.207.33.189","port":"8078","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4eeb3cdc.94751c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094ce","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"TurtleBot - Node-RED","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e5bcc415.cd77f8","type":"ui_group","z":"","name":"SLAM","tab":"9b8fd284.b3f58","order":1,"disp":false,"width":"12","collapse":false},{"id":"25c9ee7c.aeb5b2","type":"ui_spacer","name":"spacer","group":"352d4f7b.b3de98","order":3,"width":1,"height":1},{"id":"acad205e.1f8e58","type":"ui_spacer","name":"spacer","group":"352d4f7b.b3de98","order":3,"width":1,"height":1},{"id":"9b8fd284.b3f58","type":"ui_tab","z":"","name":"Launchers","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8d7fa496.67d34","type":"ui_group","z":"","name":"Navigation","tab":"68701493.8ad114","order":2,"disp":false,"width":"15","collapse":false},{"id":"de37b259.47d968","type":"ui_group","z":"","name":"Feed","tab":"68701493.8ad114","order":1,"disp":false,"width":"15","collapse":false},{"id":"68701493.8ad114","type":"ui_tab","z":"","name":"Robot Control","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bd9093bc.46b838","type":"ui_group","z":"","name":"Navigation","tab":"9b8fd284.b3f58","order":2,"disp":false,"width":"12","collapse":false},{"id":"668216d4.02bfe","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":1,"width":15,"height":1},{"id":"a368bdbd.589d88","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":2,"width":15,"height":1},{"id":"295d2051.37d24","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":3,"width":15,"height":1},{"id":"e3ffb9d2.c53278","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":4,"width":15,"height":1},{"id":"d1935379.3b14d","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":5,"width":15,"height":1},{"id":"c7f513d3.eec6f8","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":6,"width":15,"height":1},{"id":"b947e447.c7b32","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":7,"width":15,"height":1},{"id":"2f7f2ce.a27f2d4","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":9,"width":9,"height":1},{"id":"1d4145b6.98dd22","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":10,"width":9,"height":1},{"id":"789a3c8b.74ca44","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":11,"width":9,"height":1},{"id":"92c04f58.677e9","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":12,"width":9,"height":1},{"id":"54d7702c.a07fe8","type":"ui_spacer","name":"spacer","group":"5f42eb58.5d973c","order":13,"width":9,"height":1},{"id":"bf59da15.a9462","type":"ui_tab","z":"","name":"Coffee Shop","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2484265a.44d942","type":"ui_group","z":"","name":"Feed","tab":"bf59da15.a9462","order":1,"disp":false,"width":"15","collapse":false},{"id":"824ae3fd.9550d8","type":"ui_group","z":"","name":"Commands","tab":"bf59da15.a9462","order":2,"disp":false,"width":13,"collapse":false},{"id":"da1d17ac.fea8a","type":"ui_tab","z":"","name":"House Security","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"475e3059.ab4a6","type":"ui_group","z":"","name":"Feed","tab":"da1d17ac.fea8a","order":1,"disp":false,"width":"15","collapse":false},{"id":"ca839f41.40ab18","type":"ui_spacer","name":"spacer","group":"dc7607e.5e98278","order":3,"width":1,"height":1},{"id":"7a191414.44f72c","type":"ui_group","z":"","name":"Commands","tab":"da1d17ac.fea8a","order":2,"disp":false,"width":15,"collapse":false},{"id":"120d592d.19b7b7","type":"ui_spacer","name":"spacer","group":"2484265a.44d942","order":2,"width":9,"height":1},{"id":"4ba2339b.b54bbc","type":"ui_spacer","name":"spacer","group":"2484265a.44d942","order":4,"width":3,"height":1},{"id":"ff0b8425.d3eb48","type":"ui_spacer","name":"spacer","group":"2484265a.44d942","order":7,"width":4,"height":1},{"id":"e19b012b.84b86","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":2,"width":7,"height":1},{"id":"541042f.7eab13c","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":5,"width":1,"height":1},{"id":"7c247601.435f5","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":8,"width":13,"height":1},{"id":"62321392.442d4c","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":9,"width":13,"height":1},{"id":"e5316a9f.ff343","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":11,"width":7,"height":1},{"id":"38df50e9.1b5f68","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":13,"width":7,"height":1},{"id":"8668d1b1.063208","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":15,"width":1,"height":1},{"id":"c8c079e2.30c1c8","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":17,"width":1,"height":1},{"id":"1e11af98.729428","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":18,"width":13,"height":1},{"id":"20e60a58.1e59ae","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":20,"width":6,"height":1},{"id":"b66c0363.92e04","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":22,"width":1,"height":1},{"id":"8093f9f1.3b9c08","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":24,"width":1,"height":1},{"id":"15dd7c83.23889b","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":25,"width":13,"height":1},{"id":"6ef6f40d.ae6cec","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":28,"width":5,"height":1},{"id":"19139d59.65ef3b","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":31,"width":1,"height":1},{"id":"2f89a476.c88dac","type":"ui_spacer","name":"spacer","group":"824ae3fd.9550d8","order":32,"width":5,"height":1},{"id":"77d2573c.1735e","type":"ui_spacer","name":"spacer","group":"475e3059.ab4a6","order":2,"width":9,"height":1},{"id":"ca0bd855.c4caf8","type":"ui_spacer","name":"spacer","group":"475e3059.ab4a6","order":4,"width":3,"height":1},{"id":"b33d04b8.b5368","type":"ui_spacer","name":"spacer","group":"475e3059.ab4a6","order":7,"width":4,"height":1},{"id":"3317d70b.54c578","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":2,"width":9,"height":1},{"id":"1c85fd40.bba4db","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":3,"width":6,"height":1},{"id":"5c113425.bed9f4","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":5,"width":4,"height":1},{"id":"de0d116b.6b76f","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":6,"width":6,"height":1},{"id":"6db30976.9082c","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":7,"width":4,"height":1},{"id":"fcda4909.48837","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":8,"width":3,"height":1},{"id":"d3f288ce.7d31","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":10,"width":1,"height":1},{"id":"1875c6c4.752629","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":12,"width":1,"height":1},{"id":"e01db6b9.f061e8","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":13,"width":3,"height":1},{"id":"246cab2a.5d5f5c","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":14,"width":1,"height":1},{"id":"9f873441.7a5d1","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":15,"width":1,"height":1},{"id":"2ad258e0.4e9db","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":16,"width":6,"height":1},{"id":"aac044ba.2996b","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":18,"width":4,"height":1},{"id":"fa7c5a7.03cc5a8","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":20,"width":4,"height":1},{"id":"8e8b3cc.72200c","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":22,"width":9,"height":1},{"id":"4cf46f86.feb25","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":24,"width":1,"height":1},{"id":"5c1aa012.8d43a","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":26,"width":3,"height":1},{"id":"d23d31e1.d3f49","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":28,"width":9,"height":1},{"id":"8ce8410e.6632c","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":30,"width":9,"height":1},{"id":"ccf03e71.d56c5","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":31,"width":3,"height":1},{"id":"cab5511a.58e2c8","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":34,"width":4,"height":1},{"id":"40d76730.73e358","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":36,"width":9,"height":1},{"id":"e7afbc9b.ceee6","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":37,"width":2,"height":1},{"id":"40376c27.ffc7e4","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":39,"width":2,"height":1},{"id":"8c9b1dbe.af2508","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":41,"width":2,"height":1},{"id":"2059da9a.fda9de","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":43,"width":1,"height":1},{"id":"71e37be5.c88284","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":44,"width":5,"height":1},{"id":"1da1b6b9.e446c9","type":"ui_spacer","name":"spacer","group":"7a191414.44f72c","order":46,"width":6,"height":1},{"id":"ccc2ca4b.82e0d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a293d97d.ce47a8","type":"ui_group","z":"","name":"Info","tab":"ccc2ca4b.82e0d","order":1,"disp":false,"width":13,"collapse":false},{"id":"74f982fc.fc8f1c","type":"ui_spacer","name":"spacer","group":"a293d97d.ce47a8","order":2,"width":4,"height":1},{"id":"a125e558.54178","type":"ui_tab","z":"","name":"Art Gallery","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"67e32fde.3084b8","type":"ui_group","z":"","name":"Feed","tab":"a125e558.54178","order":1,"disp":false,"width":15,"collapse":false},{"id":"253134a3.19a494","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":2,"width":3,"height":1},{"id":"bef66d65.8d4c6","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":4,"width":3,"height":1},{"id":"cddacad7.774b18","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":6,"width":7,"height":1},{"id":"c3dd418d.86d588","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":9,"width":1,"height":1},{"id":"921bfaf4.8ce83","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":10,"width":12,"height":1},{"id":"6e62387.93e45c8","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":12,"width":4,"height":1},{"id":"f681505a.8f407","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":14,"width":4,"height":1},{"id":"19879c68.bf81fc","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":15,"width":4,"height":1},{"id":"ef23d425.fb4ce8","type":"ui_spacer","name":"spacer","group":"e5bcc415.cd77f8","order":16,"width":4,"height":1},{"id":"1d6ee0d.52d7b9f","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":2,"width":3,"height":1},{"id":"fcac8217.7959d","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":4,"width":4,"height":1},{"id":"4a6d0e4.ba64b7","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":6,"width":7,"height":1},{"id":"4c47f58.ec6200c","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":9,"width":1,"height":1},{"id":"8decc3cd.09862","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":12,"width":1,"height":1},{"id":"bd47593e.1aa13","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":13,"width":12,"height":1},{"id":"46d1a259.5241d4","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":14,"width":12,"height":1},{"id":"297ac897.7dfd6","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":16,"width":3,"height":1},{"id":"14ac3f16.ffa019","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":18,"width":4,"height":1},{"id":"3886e546.631dca","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":21,"width":1,"height":1},{"id":"78441c05.01387c","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":24,"width":1,"height":1},{"id":"aad08c81.6aef38","type":"ui_spacer","name":"spacer","group":"bd9093bc.46b838","order":27,"width":1,"height":1},{"id":"f223eaad.2629c8","type":"ui_spacer","name":"spacer","group":"de37b259.47d968","order":2,"width":9,"height":1},{"id":"57ba4e41.a3dcd8","type":"ui_spacer","name":"spacer","group":"de37b259.47d968","order":4,"width":3,"height":1},{"id":"dd97214a.6c6d98","type":"ui_spacer","name":"spacer","group":"de37b259.47d968","order":7,"width":4,"height":1},{"id":"2644be78.f1344a","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":2,"width":9,"height":1},{"id":"cc612c4b.61c6e8","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":3,"width":5,"height":1},{"id":"65048800.a076a8","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":5,"width":5,"height":1},{"id":"7df27a92.8a60a4","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":6,"width":5,"height":1},{"id":"1a464efa.d6c1b9","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":7,"width":5,"height":1},{"id":"26e986fb.74e542","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":8,"width":2,"height":1},{"id":"89bbadb7.49acf8","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":10,"width":1,"height":1},{"id":"e4374631.7d5748","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":12,"width":2,"height":1},{"id":"79275808.33fb28","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":13,"width":2,"height":1},{"id":"6db5ccd4.4cb22c","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":14,"width":1,"height":1},{"id":"f6e7fd7f.bc3ac8","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":15,"width":2,"height":1},{"id":"12bddebf.038641","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":16,"width":5,"height":1},{"id":"de4d1363.eee09","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":18,"width":5,"height":1},{"id":"29d772c1.82941e","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":19,"width":5,"height":1},{"id":"1c8358e3.fe572f","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":20,"width":5,"height":1},{"id":"93f7da8f.415ed","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":21,"width":15,"height":1},{"id":"2ccb34d8.036d0c","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":23,"width":9,"height":1},{"id":"e14b80f4.96b47","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":27,"width":9,"height":1},{"id":"498e557c.55b5d4","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":28,"width":3,"height":1},{"id":"ef70cb24.9ac9a8","type":"ui_spacer","name":"spacer","group":"8d7fa496.67d34","order":31,"width":4,"height":1},{"id":"96974563.89e108","type":"ui_group","z":"","name":"Commands","tab":"a125e558.54178","order":2,"disp":false,"width":15,"collapse":false},{"id":"66351192.687c","type":"ui_spacer","name":"spacer","group":"67e32fde.3084b8","order":2,"width":9,"height":1},{"id":"a726d2d1.e9a4a","type":"ui_spacer","name":"spacer","group":"67e32fde.3084b8","order":4,"width":3,"height":1},{"id":"8e33bc9e.b20b3","type":"ui_spacer","name":"spacer","group":"67e32fde.3084b8","order":7,"width":4,"height":1},{"id":"c1c6fe1f.b9305","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":2,"width":9,"height":1},{"id":"855d734.4d34c9","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":4,"width":8,"height":1},{"id":"c644701f.e8378","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":5,"width":3,"height":1},{"id":"23cf33dc.9a185c","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":8,"width":1,"height":1},{"id":"6894db1a.d73f44","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":10,"width":3,"height":1},{"id":"67571258.b2673c","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":13,"width":4,"height":1},{"id":"ab59f749.8919e8","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":14,"width":15,"height":1},{"id":"df395426.9074d8","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":15,"width":15,"height":1},{"id":"edb7c733.c104e8","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":17,"width":8,"height":1},{"id":"e8ab61b4.632c5","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":18,"width":3,"height":1},{"id":"b7497164.f4613","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":21,"width":1,"height":1},{"id":"f40aca2.35e6a38","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":23,"width":3,"height":1},{"id":"b1856213.68424","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":26,"width":4,"height":1},{"id":"c161f2ff.87641","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":27,"width":15,"height":1},{"id":"aab6fdb4.f9f33","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":29,"width":9,"height":1},{"id":"a2c3f192.86d24","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":31,"width":9,"height":1},{"id":"9d36652a.e9a3c8","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":33,"width":7,"height":1},{"id":"7847b88f.ec2018","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":34,"width":1,"height":1},{"id":"f2b1c62f.8e2088","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":36,"width":1,"height":1},{"id":"9271e031.7d45c","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":38,"width":2,"height":1},{"id":"70a58e21.5a8b6","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":40,"width":1,"height":1},{"id":"9927b4f8.4e2f68","type":"ui_spacer","name":"spacer","group":"96974563.89e108","order":41,"width":7,"height":1},{"id":"d08da359.cf987","type":"trigger","z":"2af08135.1c0cd6","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":440,"y":80,"wires":[[]]},{"id":"aba85f87.db3f3","type":"switch","z":"2af08135.1c0cd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"up","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":120,"wires":[["d08da359.cf987"],["87c7a933.a545a8"]]},{"id":"87c7a933.a545a8","type":"change","z":"2af08135.1c0cd6","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["d08da359.cf987"]]},{"id":"26508d11.874c72","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch SLAM","group":"e5bcc415.cd77f8","order":7,"width":6,"height":1,"passthru":false,"label":"Launch SLAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"slam","payloadType":"str","topic":"","x":400,"y":360,"wires":[["eca4450e.a507d","36c45c58.861ed4"]]},{"id":"b2808a78.875b5","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down SLAM","group":"e5bcc415.cd77f8","order":8,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"slam_shutdown","payloadType":"str","topic":"","x":690,"y":440,"wires":[["c0111861.ad10f"]]},{"id":"129e37c9.337d88","type":"ui_form","z":"9cc75e52.ef3e1","name":"Save Map","label":"Save Map","group":"e5bcc415.cd77f8","order":13,"width":8,"height":3,"options":[{"label":"Map Name","value":"map_name","type":"text","required":true,"rows":null}],"formValue":{"map_name":""},"payload":"","submit":"Save","cancel":"Cancel","topic":"","x":460,"y":520,"wires":[["471897ad.dc3a"]]},{"id":"bfe5055c.20b9c","type":"ui_dropdown","z":"9cc75e52.ef3e1","name":"Select Map","label":"Select","tooltip":"","place":"Select Map","group":"e5bcc415.cd77f8","order":5,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Default Map","value":"default","type":"str"},{"label":"Museum","value":"museum","type":"str"},{"label":"Coffee Shop","value":"cafe","type":"str"},{"label":"House","value":"house","type":"str"}],"payload":"","topic":"","x":390,"y":220,"wires":[["ab4e0a06.9ffcc","5b2fb2fb.499e84"]]},{"id":"ad473828.9af488","type":"ui_button","z":"23124348.2a2fec","name":"Start Feed","group":"de37b259.47d968","order":5,"width":4,"height":1,"passthru":false,"label":"Start Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":220,"wires":[["b130410c.416508"]]},{"id":"2a1493a3.a37d34","type":"ui_button","z":"23124348.2a2fec","name":"Stop Feed","group":"de37b259.47d968","order":6,"width":4,"height":1,"passthru":false,"label":"Stop Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":280,"wires":[["18f757a6.b86bb8"]]},{"id":"e2b86b08.5b6328","type":"function","z":"23124348.2a2fec","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.5\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["306af69d.361f2a"]]},{"id":"2112892b.6ffe36","type":"function","z":"23124348.2a2fec","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : -0.5\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["306af69d.361f2a"]]},{"id":"c3216c1e.140e6","type":"function","z":"23124348.2a2fec","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.5,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["306af69d.361f2a"]]},{"id":"87c5b4e9.382d98","type":"function","z":"23124348.2a2fec","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : -0.5,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":740,"wires":[["306af69d.361f2a"]]},{"id":"b1978e41.6f3d8","type":"subflow:2af08135.1c0cd6","z":"23124348.2a2fec","name":"Real Time Button","env":[],"x":370,"y":500,"wires":[["e2b86b08.5b6328"]]},{"id":"9cc18cc6.9f727","type":"ui_template","z":"23124348.2a2fec","group":"8d7fa496.67d34","name":"Turn Right Button","order":11,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Turn Right</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":130,"y":580,"wires":[["99fcbe9.5d57b4"]]},{"id":"99fcbe9.5d57b4","type":"subflow:2af08135.1c0cd6","z":"23124348.2a2fec","name":"Real Time Button","env":[],"x":370,"y":580,"wires":[["2112892b.6ffe36"]]},{"id":"4fcc9eea.36d68","type":"ui_template","z":"23124348.2a2fec","group":"8d7fa496.67d34","name":"Go Forward Button","order":4,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Go Forward</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":130,"y":660,"wires":[["31be32f7.3eca26"]]},{"id":"31be32f7.3eca26","type":"subflow:2af08135.1c0cd6","z":"23124348.2a2fec","name":"Real Time Button","env":[],"x":370,"y":660,"wires":[["c3216c1e.140e6"]]},{"id":"4dd44ca2.d4879c","type":"ui_template","z":"23124348.2a2fec","group":"8d7fa496.67d34","name":"Go Backwards Button","order":17,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Go Backwards</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":140,"y":740,"wires":[["9a561e20.a4e6f"]]},{"id":"9a561e20.a4e6f","type":"subflow:2af08135.1c0cd6","z":"23124348.2a2fec","name":"Real Time Button","env":[],"x":370,"y":740,"wires":[["87c5b4e9.382d98"]]},{"id":"7eb1778d.725ca","type":"ui_template","z":"23124348.2a2fec","group":"8d7fa496.67d34","name":"Turn Left Button","order":9,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Turn Left</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":500,"wires":[["b1978e41.6f3d8"]]},{"id":"5ae1e92e.12e8d","type":"config","z":"23124348.2a2fec","name":"Set Initial Values of Variables","properties":[{"p":"feed","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":180,"y":40,"wires":[]},{"id":"ee7430a8.d58b18","type":"ui_text","z":"9cc75e52.ef3e1","group":"e5bcc415.cd77f8","order":3,"width":9,"height":1,"name":"SLAM Intro Text","label":"If you would like to perform SLAM, then choose the option below. While performing SLAM the only method of control is teleoperation.","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":220,"wires":[]},{"id":"160e5be8.0f11fc","type":"ui_text","z":"9cc75e52.ef3e1","group":"e5bcc415.cd77f8","order":11,"width":8,"height":1,"name":"Save Text","label":"If the map is finished, enter the map file's desired name.","format":"{{msg.payload}}","layout":"row-spread","x":220,"y":520,"wires":[]},{"id":"5bc72baa.d5a04c","type":"ui_dropdown","z":"23124348.2a2fec","name":"Position Goal","label":"Position Goal","tooltip":"","place":"Select Position","group":"8d7fa496.67d34","order":25,"width":10,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1850,"y":1040,"wires":[["6bb5fb57.e08054"]]},{"id":"ff5dcc10.97e398","type":"inject","z":"23124348.2a2fec","name":"Refresh","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"onceDelay":"0.1","x":840,"y":1040,"wires":[["d17be3a3.c95638"]]},{"id":"d17be3a3.c95638","type":"switch","z":"23124348.2a2fec","name":"Check If Map Is Chosen","property":"map_chosen","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":1040,"wires":[["c8f492b2.35b7b","c47f25e3.610e4"]]},{"id":"c8f492b2.35b7b","type":"change","z":"23124348.2a2fec","name":"Lower Map Chosen Flag","rules":[{"t":"set","p":"map_chosen","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1120,"wires":[[]]},{"id":"c47f25e3.610e4","type":"switch","z":"23124348.2a2fec","name":"Check Map Selection","property":"map","propertyType":"global","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":" museum","vt":"str"},{"t":"eq","v":" cafe","vt":"str"},{"t":"eq","v":" house","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1300,"y":1040,"wires":[["5980f046.da92f"],["dee81446.dcf218"],["3c5e0e21.cc442a"],["da66c384.cf162"]]},{"id":"5980f046.da92f","type":"change","z":"23124348.2a2fec","name":"Define Dropdown Options","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"options","pt":"msg","to":"[{\"Position 1\":\"default_pos1\"}, {\"Position 2\":\"default_pos2\"}, {\"Position 3\":\"default_pos3\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":960,"wires":[["5bc72baa.d5a04c"]]},{"id":"6bb5fb57.e08054","type":"function","z":"23124348.2a2fec","name":"Send Correct Position Goal","func":"map = msg.payload.split(\"_\")[0];\npos = msg.payload.split(\"_\")[1];\n\nif (map === \"default\") {\n    if (pos === \"pos1\") {\n        global.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n    } else if (pos === \"pos2\") {\n       global.set('position_goal', {\n            px : -1,\n            py : -1,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos3\") {\n        global.set('position_goal', {\n            px : 1,\n            py : 0,\n            yaw : 180\n            \n        })\n    }\n} else if (map === \"museum\") {\n    if (pos === \"pos1\") {\n        global.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n    } else if (pos === \"pos2\") {\n       global.set('position_goal', {\n            px : 0,\n            py : -6,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos3\") {\n        global.set('position_goal', {\n            px : 3,\n            py : -14,\n            yaw : -90\n            \n        })\n    }\n} else if (map === \"cafe\") {\n   if (pos === \"pos1\") {\n        global.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n    } else if (pos === \"pos2\") {\n       global.set('position_goal', {\n            px : 4.5,\n            py : 5,\n            yaw : 45\n            \n        })\n    } else if (pos === \"pos3\") {\n        global.set('position_goal', {\n            px : 7,\n            py : 5,\n            yaw : 45\n            \n        })\n    } else if (pos === \"pos4\") {\n        global.set('position_goal', {\n            px : 14.75,\n            py : 5.25,\n            yaw : 45\n            \n        })\n    } else if (pos === \"pos5\") {\n        global.set('position_goal', {\n            px : 15,\n            py : 3.9,\n            yaw : -45\n            \n        })\n    } else if (pos === \"pos6\") {\n        global.set('position_goal', {\n            px : 15,\n            py : 2.2,\n            yaw : -45\n            \n        })\n    }\n}\nelse if (map === \"house\") {\n   if (pos === \"pos1\") {\n        global.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n    } else if (pos === \"pos2\") {\n       global.set('position_goal', {\n            px : 4.5,\n            py : 1,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos3\") {\n        global.set('position_goal', {\n            px : 4.5,\n            py : -3.5,\n            yaw : -90\n            \n        })\n    } else if (pos === \"pos4\") {\n        global.set('position_goal', {\n            px : -3.5,\n            py : 2.5,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos5\") {\n        global.set('position_goal', {\n            px : -7.25,\n            py : 3.5,\n            yaw : 90\n            \n        })\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2080,"y":1040,"wires":[[]]},{"id":"e37f49e.ea85538","type":"change","z":"23124348.2a2fec","name":"Get Position Goal","rules":[{"t":"set","p":"payload","pt":"msg","to":"position_goal","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1220,"wires":[["c01f38a2.bb506"]]},{"id":"48be8445.e9e354","type":"ui_button","z":"23124348.2a2fec","name":"Send Goal Button","group":"8d7fa496.67d34","order":30,"width":4,"height":1,"passthru":false,"label":"Send Goal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"send_goal_nodered","x":130,"y":1220,"wires":[["e37f49e.ea85538"]]},{"id":"b130410c.416508","type":"change","z":"23124348.2a2fec","name":"Raise Feed Flag","rules":[{"t":"set","p":"feed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[[]]},{"id":"18f757a6.b86bb8","type":"change","z":"23124348.2a2fec","name":"Lower Feed Flag","rules":[{"t":"set","p":"feed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[[]]},{"id":"dee81446.dcf218","type":"change","z":"23124348.2a2fec","name":"Define Dropdown Options","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"options","pt":"msg","to":"[{\"Starting Point\":\"museum_pos1\"}, {\"Room 1\":\"museum_pos2\"}, {\"Room 2\":\"museum_pos3\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1020,"wires":[["5bc72baa.d5a04c"]]},{"id":"eca4450e.a507d","type":"function","z":"9cc75e52.ef3e1","name":"Set Launch SLAM Command","func":"flag = global.get('map_flag');\nmap = global.get('map');\n\nif (flag === true) {\n    msg.payload = msg.payload.concat(map);\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["c0111861.ad10f"]]},{"id":"246facdc.151084","type":"config","z":"9cc75e52.ef3e1","name":"Set Initial Values for Flags","properties":[{"p":"map_flag","pt":"global","to":"false","tot":"bool"},{"p":"map_chosen","pt":"global","to":"false","tot":"bool"},{"p":"robot_number","pt":"global","to":"0","tot":"num"},{"p":"robot","pt":"global","to":"robot1","tot":"str"}],"active":true,"x":150,"y":40,"wires":[]},{"id":"c0111861.ad10f","type":"mqtt out","z":"9cc75e52.ef3e1","name":"Send Commands to Remote Handler","topic":"remote_handler","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1250,"y":820,"wires":[]},{"id":"471897ad.dc3a","type":"function","z":"9cc75e52.ef3e1","name":"Set Save Command","func":"cmd = 'save_map '\n\nmsg.payload = cmd.concat(msg.payload.map_name);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":520,"wires":[["c0111861.ad10f"]]},{"id":"616ddf6c.587de8","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch Single Robot Navigation","group":"bd9093bc.46b838","order":7,"width":6,"height":1,"passthru":false,"label":"Launch Single Robot Navigation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"navigation","payloadType":"str","topic":"","x":430,"y":920,"wires":[["521a4c19.87b234","33bdd6d0.17845a","670a4626.da06b"]]},{"id":"92f14329.763a38","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down Single Robot Navigation","group":"bd9093bc.46b838","order":8,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"navigation_shutdown","payloadType":"str","topic":"","x":740,"y":1000,"wires":[["c0111861.ad10f"]]},{"id":"7f0e8856.fca528","type":"ui_text","z":"9cc75e52.ef3e1","group":"bd9093bc.46b838","order":3,"width":8,"height":1,"name":"Navigation Intro Text","label":"If the map is already built, select the desired map and launch the navigation module. Choose between single or multiple robots.","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":780,"wires":[]},{"id":"76160d45.fadd4c","type":"comment","z":"9cc75e52.ef3e1","name":"SLAM","info":"","x":90,"y":100,"wires":[]},{"id":"93e5d656.0ed7e8","type":"comment","z":"9cc75e52.ef3e1","name":"Navigation","info":"","x":100,"y":660,"wires":[]},{"id":"521a4c19.87b234","type":"function","z":"9cc75e52.ef3e1","name":"Set Launch Navigation Command","func":"flag = global.get('map_flag');\nmap = global.get('map');\n\nif (flag === true) {\n    msg.payload = msg.payload.concat(map);\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":740,"y":920,"wires":[["c0111861.ad10f"]]},{"id":"14c1d5e9.85936a","type":"ui_dropdown","z":"9cc75e52.ef3e1","name":"Select Map","label":"Select","tooltip":"","place":"Select Map","group":"bd9093bc.46b838","order":5,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Default Map","value":"default","type":"str"},{"label":"Museum","value":"museum","type":"str"},{"label":"Coffee Shop","value":"cafe","type":"str"},{"label":"House","value":"house","type":"str"}],"payload":"","topic":"","x":390,"y":780,"wires":[["44e1ea8b.318434","1533e871.8768a8"]]},{"id":"e569f4fd.2ad438","type":"mqtt in","z":"23124348.2a2fec","name":"Get Map Feed","topic":"feed","qos":"2","datatype":"auto","broker":"db578bcb.6a1f9","x":570,"y":220,"wires":[["f5160eb9.e65d4","66489e93.eba51"]]},{"id":"54ed4762.fffba","type":"template","z":"23124348.2a2fec","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"/>","output":"str","x":1000,"y":220,"wires":[["90906ed0.ae7c3"]]},{"id":"90906ed0.ae7c3","type":"ui_template","z":"23124348.2a2fec","group":"de37b259.47d968","name":"Show Map","order":3,"width":15,"height":14,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align: center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1170,"y":220,"wires":[[]]},{"id":"f5160eb9.e65d4","type":"switch","z":"23124348.2a2fec","name":"Check If Feed Is Enabled","property":"feed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["54ed4762.fffba"]]},{"id":"c01f38a2.bb506","type":"function","z":"23124348.2a2fec","name":"Create geometry_msgs/Pose - Move","func":"var input = msg.payload;\n\nvar yaw = input.yaw * Math.PI / 180;\nvar pitch = 0;\nvar roll = 0;\n\nvar cy = Math.cos(yaw * 0.5);\nvar sy = Math.sin(yaw * 0.5);\nvar cp = Math.cos(pitch * 0.5);\nvar sp = Math.sin(pitch * 0.5);\nvar cr = Math.cos(roll * 0.5);\nvar sr = Math.sin(roll * 0.5);\n\nvar pose = {\nposition : {\n    x : input.px,\n    y : input.py,\n    z : 0\n},\norientation : {\n    w : cr * cp * cy + sr * sp * sy,\n    x : sr * cp * cy - cr * sp * sy,\n    y : cr * sp * cy + sr * cp * sy,\n    z : cr * cp * sy - sr * sp * cy\n}\n};\n\nmsg.payload = pose\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1220,"wires":[["1c933c78.33dd5c"]]},{"id":"fb274af3.abcd88","type":"mqtt out","z":"23124348.2a2fec","name":"Send Navigation Goal","topic":"","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1080,"y":1220,"wires":[]},{"id":"de72fc9b.e544f","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch Multi Robot Navigation","group":"bd9093bc.46b838","order":10,"width":6,"height":1,"passthru":false,"label":"Launch Multi Robot Navigation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"multi","payloadType":"str","topic":"","x":430,"y":1100,"wires":[["37e9197b.1cfdc6","9f520ff0.1d385","b91bcbbf.11ea"]]},{"id":"db0171e7.6270e8","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down Multi Robot Navigation","group":"bd9093bc.46b838","order":11,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"multi_shutdown","payloadType":"str","topic":"","x":740,"y":1180,"wires":[["c0111861.ad10f"]]},{"id":"37e9197b.1cfdc6","type":"function","z":"9cc75e52.ef3e1","name":"Set Launch Navigation Command","func":"flag = global.get('map_flag');\nmap = global.get('map');\n\nif (flag === true) {\n    msg.payload = msg.payload.concat(map);\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":740,"y":1100,"wires":[["c0111861.ad10f"]]},{"id":"90b37dc2.c76eb","type":"inject","z":"23124348.2a2fec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1350,"y":960,"wires":[["5980f046.da92f"]]},{"id":"3f1c0160.4566c6","type":"mqtt out","z":"23124348.2a2fec","name":"Send Message","topic":"","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1040,"y":620,"wires":[]},{"id":"306af69d.361f2a","type":"function","z":"23124348.2a2fec","name":"Set Topic","func":"robots = global.get('robot_number');\n\nif (robots === 1) {\n    msg.topic = \"cmd_vel_mux/input/teleop\";\n} else if (robots === 2) {\n    robot = global.get('robot');\n    if (robot === \"robot1\") {\n        msg.topic = \"robot1/cmd_vel_mux/input/teleop\";\n    } else if (robot === \"robot2\") {\n        msg.topic = \"robot2/cmd_vel_mux/input/teleop\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":620,"wires":[["3f1c0160.4566c6"]]},{"id":"33bdd6d0.17845a","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"robot_number","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1000,"wires":[[]]},{"id":"9f520ff0.1d385","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"robot_number","pt":"global","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1180,"wires":[[]]},{"id":"bf4e1213.7ec79","type":"ui_button","z":"23124348.2a2fec","name":"Change Robot","group":"8d7fa496.67d34","order":29,"width":4,"height":1,"passthru":false,"label":"Change Robot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":1120,"wires":[["e55d702c.86c598","ff1076b0.63765"]]},{"id":"e55d702c.86c598","type":"function","z":"23124348.2a2fec","name":"Set global.robot","func":"msg.payload = global.get(\"robot\")\n\nif (msg.payload === \"robot1\") {\n    msg.payload = \"robot2\";\n} else if (msg.payload === \"robot2\") {\n    msg.payload = \"robot1\";\n}\n\nglobal.set(\"robot\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1120,"wires":[[]]},{"id":"1c933c78.33dd5c","type":"function","z":"23124348.2a2fec","name":"Set Topic","func":"robots = global.get('robot_number');\n\nif (robots === 1) {\n    msg.topic = \"send_goal_nodered\";\n} else if (robots === 2) {\n    robot = global.get('robot');\n    if (robot === \"robot1\") {\n        msg.topic = \"robot1_send_goal_nodered\";\n    } else if (robot === \"robot2\") {\n        msg.topic = \"robot2_send_goal_nodered\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1220,"wires":[["fb274af3.abcd88"]]},{"id":"5f4ddde3.0d9a94","type":"ui_text","z":"23124348.2a2fec","group":"8d7fa496.67d34","order":26,"width":6,"height":1,"name":"Robot colour explanation","label":"Robot 1 is black and Robot 2 is grey.","format":"{{msg.payload}}","layout":"row-left","x":150,"y":960,"wires":[]},{"id":"a3a9b5a3.af74a","type":"ui_text","z":"23124348.2a2fec","group":"8d7fa496.67d34","order":24,"width":5,"height":1,"name":"Current Robot","label":"Current Robot: ","format":"{{msg.payload}}","layout":"row-left","x":580,"y":1040,"wires":[]},{"id":"ff1076b0.63765","type":"function","z":"23124348.2a2fec","name":"Read Current Robot","func":"robots = global.get('robot_number');\n\nif (robots === 1) {\n    msg.payload = \"\";\n    \n} else if (robots === 2) {\n    msg.payload = global.get(\"robot\")\n\n    if (msg.payload === \"robot1\") {\n        msg.payload = \"Robot 1\";\n    } else if (msg.payload === \"robot2\") {\n        msg.payload = \"Robot 2\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1040,"wires":[["a3a9b5a3.af74a"]]},{"id":"b91bcbbf.11ea","type":"link out","z":"9cc75e52.ef3e1","name":"Multi Trigger","links":["e45ada5f.5d7fd","739e846.dbeadfc","36fa784.16d4a08"],"x":575,"y":1060,"wires":[]},{"id":"670a4626.da06b","type":"link out","z":"9cc75e52.ef3e1","name":"Single Trigger","links":["e45ada5f.5d7fd","739e846.dbeadfc","36fa784.16d4a08"],"x":575,"y":880,"wires":[]},{"id":"e45ada5f.5d7fd","type":"link in","z":"23124348.2a2fec","name":"Robot Number Trigger","links":["670a4626.da06b","b91bcbbf.11ea","e9ad1a79.acf63","ca59608a.37b568"],"x":175,"y":1040,"wires":[["ff1076b0.63765"]]},{"id":"36c45c58.861ed4","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"robot_number","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[[]]},{"id":"3c5e0e21.cc442a","type":"change","z":"23124348.2a2fec","name":"Define Dropdown Options","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"options","pt":"msg","to":"[{\"Bar\":\"cafe_pos1\"},{\"Table 1\":\"cafe_pos2\"},{\"Table 2\":\"cafe_pos3\"},{\"Table 3\":\"cafe_pos4\"},{\"Table 4\":\"cafe_pos5\"}, {\"Table 5\":\"cafe_pos6\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1080,"wires":[["5bc72baa.d5a04c"]]},{"id":"66489e93.eba51","type":"link out","z":"23124348.2a2fec","name":"Map Feed Output","links":["57721425.48d0d4","1f26c5c0.e6ff52","243e7669.e1f20a"],"x":675,"y":280,"wires":[]},{"id":"57721425.48d0d4","type":"link in","z":"dacd6d1b.bc6408","name":"Map Feed Input - Coffee Shop","links":["66489e93.eba51"],"x":75,"y":360,"wires":[["649fe7d7.265c98"]]},{"id":"3e870fff.211f6","type":"ui_button","z":"dacd6d1b.bc6408","name":"Start Feed","group":"2484265a.44d942","order":5,"width":4,"height":1,"passthru":false,"label":"Start Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["409ce14d.1ee0f8"]]},{"id":"84997486.398b8","type":"ui_button","z":"dacd6d1b.bc6408","name":"Stop Feed","group":"2484265a.44d942","order":6,"width":4,"height":1,"passthru":false,"label":"Stop Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":280,"wires":[["fb29f1f6.93f9"]]},{"id":"409ce14d.1ee0f8","type":"change","z":"dacd6d1b.bc6408","name":"Raise Feed Flag","rules":[{"t":"set","p":"cafe_feed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[[]]},{"id":"fb29f1f6.93f9","type":"change","z":"dacd6d1b.bc6408","name":"Lower Feed Flag","rules":[{"t":"set","p":"cafe_feed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[[]]},{"id":"7239bf7d.901f18","type":"config","z":"dacd6d1b.bc6408","name":"Set Initial Values of Variables","properties":[{"p":"cafe_feed","pt":"flow","to":"false","tot":"bool"},{"p":"order","pt":"flow","to":"","tot":"str"}],"active":true,"x":200,"y":40,"wires":[]},{"id":"66a9146a.759304","type":"template","z":"dacd6d1b.bc6408","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"/>","output":"str","x":460,"y":360,"wires":[["1727ba8b.934a05"]]},{"id":"1727ba8b.934a05","type":"ui_template","z":"dacd6d1b.bc6408","group":"2484265a.44d942","name":"Show Map","order":3,"width":15,"height":14,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align: center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":630,"y":360,"wires":[[]]},{"id":"649fe7d7.265c98","type":"switch","z":"dacd6d1b.bc6408","name":"Check If Feed Is Enabled","property":"cafe_feed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":360,"wires":[["66a9146a.759304"]]},{"id":"cf6b7ec0.ed28b8","type":"ui_table","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","name":"Table Status","order":3,"width":6,"height":3,"columns":[{"field":"Table Number","title":"Table","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Table Status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1490,"y":300,"wires":[]},{"id":"7fc0a84a.ea92a","type":"inject","z":"dacd6d1b.bc6408","name":"","topic":"","payload":"[{\"Table Number\":\"Table 1\",\"Table Status\":\"Empty\"},{\"Table Number\":\"Table 2\",\"Table Status\":\"Empty\"},{\"Table Number\":\"Table 3\",\"Table Status\":\"Empty\"},{\"Table Number\":\"Table 4\",\"Table Status\":\"Empty\"},{\"Table Number\":\"Table 5\",\"Table Status\":\"Empty\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1370,"y":220,"wires":[["cf6b7ec0.ed28b8"]]},{"id":"53e05b63.b5a86c","type":"ui_dropdown","z":"dacd6d1b.bc6408","name":"","label":"Table","tooltip":"","place":"Select option","group":"824ae3fd.9550d8","order":6,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Table 1","value":0,"type":"num"},{"label":"Table 2","value":1,"type":"num"},{"label":"Table 3","value":2,"type":"num"},{"label":"Table 4","value":3,"type":"num"},{"label":"Table 5","value":4,"type":"num"}],"payload":"","topic":"","x":1010,"y":220,"wires":[["85524e46.f626d"]]},{"id":"89f2d344.d8516","type":"ui_dropdown","z":"dacd6d1b.bc6408","name":"","label":"Status","tooltip":"","place":"Select option","group":"824ae3fd.9550d8","order":7,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Empty","value":"Empty","type":"str"},{"label":"To order","value":"To order","type":"str"},{"label":"Ordered","value":"Ordered","type":"str"},{"label":"Served","value":"Served","type":"str"}],"payload":"","topic":"","x":1010,"y":300,"wires":[["e289fdfc.b7c4b8"]]},{"id":"85524e46.f626d","type":"change","z":"dacd6d1b.bc6408","name":"Set Table ID","rules":[{"t":"set","p":"table_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":220,"wires":[[]]},{"id":"e289fdfc.b7c4b8","type":"function","z":"dacd6d1b.bc6408","name":"Change Table Data","func":"table_id = flow.get('table_id');\nstatus = msg.payload;\n\nmsg.payload = {\n    command:\"updateOrAddData\",\n    arguments: [\n        [\n            {\n                \"id\": table_id,\n                \"Table Status\": status\n            }\n        ]\n    ],\n    returnPromise: true\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[["cf6b7ec0.ed28b8"]]},{"id":"61ac9a03.667034","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":1,"width":6,"height":1,"name":"Table Status Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":1460,"y":160,"wires":[]},{"id":"25cd0074.ca3b2","type":"inject","z":"dacd6d1b.bc6408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":160,"wires":[["e5f2f629.3fb07"]]},{"id":"e5f2f629.3fb07","type":"change","z":"dacd6d1b.bc6408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Table Status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":160,"wires":[["61ac9a03.667034"]]},{"id":"9a507c96.fd8f3","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":4,"width":6,"height":1,"name":"Table Status Text","label":"Set table status:","format":"{{msg.payload}}","layout":"row-spread","x":1710,"y":160,"wires":[]},{"id":"91d21f0e.435fe8","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":10,"width":6,"height":1,"name":"Robot Commands Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":550,"y":520,"wires":[]},{"id":"4b95d8d9.ded1d8","type":"inject","z":"dacd6d1b.bc6408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":520,"wires":[["42ac5096.711bb"]]},{"id":"42ac5096.711bb","type":"change","z":"dacd6d1b.bc6408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Robot Commands","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["91d21f0e.435fe8"]]},{"id":"8dbf7ecc.aa11","type":"comment","z":"dacd6d1b.bc6408","name":"Map Feed","info":"","x":120,"y":100,"wires":[]},{"id":"2c7cc51e.8f177a","type":"comment","z":"dacd6d1b.bc6408","name":"Table Status","info":"","x":1030,"y":100,"wires":[]},{"id":"63cb44c0.14e2c4","type":"comment","z":"dacd6d1b.bc6408","name":"Robot Commands","info":"","x":150,"y":460,"wires":[]},{"id":"fe4a6c53.f17208","type":"ui_dropdown","z":"dacd6d1b.bc6408","name":"Position Goal","label":"Position:","tooltip":"","place":"Select Position","group":"824ae3fd.9550d8","order":14,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Bar","value":"cafe_pos1","type":"str"},{"label":"Table 1","value":"cafe_pos2","type":"str"},{"label":"Table 2","value":"cafe_pos3","type":"str"},{"label":"Table 3","value":"cafe_pos4","type":"str"},{"label":"Table 4","value":"cafe_pos5","type":"str"},{"label":"Table 5","value":"cafe_pos6","type":"str"}],"payload":"","topic":"","x":130,"y":600,"wires":[["511aeaef.4af9ac"]]},{"id":"511aeaef.4af9ac","type":"function","z":"dacd6d1b.bc6408","name":"Send Correct Position Goal","func":"pos = msg.payload.split(\"_\")[1];\n\n\nif (pos === \"pos1\") {\n    flow.set('position_goal', {\n        px : 0,\n        py : 0,\n        yaw : 0\n            \n    })\n} else if (pos === \"pos2\") {\n    flow.set('position_goal', {\n        px : 4.5,\n        py : 5,\n        yaw : 45\n            \n    })\n} else if (pos === \"pos3\") {\n    flow.set('position_goal', {\n        px : 7,\n        py : 5,\n        yaw : 45\n            \n    })\n} else if (pos === \"pos4\") {\n    flow.set('position_goal', {\n        px : 14.75,\n        py : 5.25,\n        yaw : 45\n            \n    })\n} else if (pos === \"pos5\") {\n    flow.set('position_goal', {\n        px : 15,\n        py : 3.9,\n        yaw : -45\n            \n    })\n} else if (pos === \"pos6\") {\n    flow.set('position_goal', {\n        px : 15,\n        py : 2.2,\n        yaw : -45\n            \n    })\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[[]]},{"id":"52c038f8.602238","type":"change","z":"dacd6d1b.bc6408","name":"Get Position Goal","rules":[{"t":"set","p":"payload","pt":"msg","to":"position_goal","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":660,"wires":[["7f0de4e6.1aedcc"]]},{"id":"4f7d316f.57b868","type":"ui_button","z":"dacd6d1b.bc6408","name":"Send Robot Button","group":"824ae3fd.9550d8","order":16,"width":4,"height":1,"passthru":false,"label":"Send Robot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"send_goal_nodered","x":150,"y":660,"wires":[["52c038f8.602238"]]},{"id":"7f0de4e6.1aedcc","type":"function","z":"dacd6d1b.bc6408","name":"Create geometry_msgs/Pose - Move","func":"var input = msg.payload;\n\nvar yaw = input.yaw * Math.PI / 180;\nvar pitch = 0;\nvar roll = 0;\n\nvar cy = Math.cos(yaw * 0.5);\nvar sy = Math.sin(yaw * 0.5);\nvar cp = Math.cos(pitch * 0.5);\nvar sp = Math.sin(pitch * 0.5);\nvar cr = Math.cos(roll * 0.5);\nvar sr = Math.sin(roll * 0.5);\n\nvar pose = {\nposition : {\n    x : input.px,\n    y : input.py,\n    z : 0\n},\norientation : {\n    w : cr * cp * cy + sr * sp * sy,\n    x : sr * cp * cy - cr * sp * sy,\n    y : cr * sp * cy + sr * cp * sy,\n    z : cr * cp * sy - sr * sp * cy\n}\n};\n\nmsg.payload = pose\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["77d379d3.e04a"]]},{"id":"77d379d3.e04a","type":"mqtt out","z":"dacd6d1b.bc6408","name":"Send Navigation Goal","topic":"send_goal_nodered","qos":"","retain":"","broker":"db578bcb.6a1f9","x":940,"y":660,"wires":[]},{"id":"9e445c68.f9b4e8","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":12,"width":6,"height":1,"name":"Send Robot Text","label":"Send robot to specific position:","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":520,"wires":[]},{"id":"85025ce9.98db3","type":"ui_text","z":"dacd6d1b.bc6408","group":"2484265a.44d942","order":1,"width":6,"height":1,"name":"Map Feed Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":530,"y":160,"wires":[]},{"id":"d7cd6e62.d66d48","type":"inject","z":"dacd6d1b.bc6408","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["defdfbf3.6a16a8"]]},{"id":"defdfbf3.6a16a8","type":"change","z":"dacd6d1b.bc6408","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Map Feed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["85025ce9.98db3"]]},{"id":"8af41e7f.2e13f8","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":19,"width":7,"height":1,"name":"Robot Speech Text","label":"Robot Speech:","format":"{{msg.payload}}","layout":"row-spread","x":150,"y":740,"wires":[]},{"id":"f7a34bbc.cfc148","type":"ui_dropdown","z":"dacd6d1b.bc6408","name":"Robot Speech","label":"Speech:","tooltip":"","place":"Select speech option","group":"824ae3fd.9550d8","order":21,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Greeting","value":"greet","type":"str"},{"label":"Give order","value":"order","type":"str"},{"label":"Say goodbye","value":"goodbye","type":"str"}],"payload":"","topic":"","x":140,"y":800,"wires":[["975cf265.beaad8"]]},{"id":"f5321e1c.3e601","type":"function","z":"dacd6d1b.bc6408","name":"Get Correct Speech Text","func":"speech = flow.get('speech');\nif (speech === 'greet') {\n    msg.payload = \"Hello and welcome to our shop! What can I get you?\";\n} else if (speech === 'order') {\n    msg.payload = \"Here is your order. Enjoy!\";\n} else if (speech === 'goodbye') {\n    msg.payload = \"Thanks for coming and have a wonderful day!\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":860,"wires":[["ba54cdde.fb903"]]},{"id":"975cf265.beaad8","type":"change","z":"dacd6d1b.bc6408","name":"","rules":[{"t":"set","p":"speech","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":800,"wires":[[]]},{"id":"1eccc56b.608c33","type":"ui_button","z":"dacd6d1b.bc6408","name":"Speak Button","group":"824ae3fd.9550d8","order":23,"width":4,"height":1,"passthru":false,"label":"Speak","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":860,"wires":[["f5321e1c.3e601"]]},{"id":"ba54cdde.fb903","type":"ui_audio","z":"dacd6d1b.bc6408","name":"Audio","group":"824ae3fd.9550d8","voice":"Google UK English Male","always":"","x":590,"y":860,"wires":[]},{"id":"51402701.2b9b58","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":26,"width":4,"height":1,"name":"Record Order Text","label":"Record order:","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":620,"wires":[]},{"id":"4e7c300b.5ad2e","type":"ui_microphone","z":"dacd6d1b.bc6408","name":"Record Order","group":"824ae3fd.9550d8","order":27,"width":4,"height":1,"maxLength":5,"maxRecogLength":"0","timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":1230,"y":680,"wires":[["f0bc2bd1.b173c8"]]},{"id":"f0bc2bd1.b173c8","type":"ui_text","z":"dacd6d1b.bc6408","group":"824ae3fd.9550d8","order":29,"width":8,"height":2,"name":"Recorded Order","label":"Order:","format":"{{msg.payload}}","layout":"row-left","x":1720,"y":680,"wires":[]},{"id":"8d6a1ea8.65d93","type":"ui_button","z":"dacd6d1b.bc6408","name":"Clear Order Button","group":"824ae3fd.9550d8","order":30,"width":4,"height":1,"passthru":false,"label":"Clear Order","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":1450,"y":740,"wires":[["f0bc2bd1.b173c8"]]},{"id":"17c3532a.a849cd","type":"function","z":"dacd6d1b.bc6408","name":"Append Interim Results","func":"order = flow.get('order');\n\norder = order.concat(msg.payload);\n\nflow.set('order', order);\n\nmsg.payload = order;\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":620,"wires":[[]]},{"id":"8788e4be.d91a68","type":"change","z":"dacd6d1b.bc6408","name":"","rules":[{"t":"set","p":"order","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":740,"wires":[[]]},{"id":"5622e872.9c0948","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch Coffee Shop App","group":"bd9093bc.46b838","order":19,"width":6,"height":1,"passthru":false,"label":"Launch Coffee Shop App","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cafe","payloadType":"str","topic":"","x":770,"y":1460,"wires":[["c0111861.ad10f","590f475a.ef2c7","e9ad1a79.acf63"]]},{"id":"e62ca25e.a9389","type":"ui_text","z":"9cc75e52.ef3e1","group":"e5bcc415.cd77f8","order":1,"width":9,"height":1,"name":"SLAM Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":500,"y":160,"wires":[]},{"id":"7df46c3b.1974e4","type":"inject","z":"9cc75e52.ef3e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["8e6d38a6.6094a8"]]},{"id":"8e6d38a6.6094a8","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLAM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["e62ca25e.a9389"]]},{"id":"ead7c946.ace048","type":"ui_text","z":"9cc75e52.ef3e1","group":"bd9093bc.46b838","order":1,"width":9,"height":1,"name":"Navigation Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":720,"wires":[]},{"id":"d3146865.30e718","type":"inject","z":"9cc75e52.ef3e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":720,"wires":[["71f92c91.032994"]]},{"id":"71f92c91.032994","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Navigation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":720,"wires":[["ead7c946.ace048"]]},{"id":"13f4743a.20b57c","type":"comment","z":"9cc75e52.ef3e1","name":"Applications","info":"","x":110,"y":1300,"wires":[]},{"id":"ce7e5274.22f69","type":"ui_text","z":"9cc75e52.ef3e1","group":"bd9093bc.46b838","order":15,"width":9,"height":1,"name":"Applications Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":520,"y":1360,"wires":[]},{"id":"3e5c7d78.72d542","type":"inject","z":"9cc75e52.ef3e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1360,"wires":[["be633c9c.c473c"]]},{"id":"be633c9c.c473c","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Applications","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1360,"wires":[["ce7e5274.22f69"]]},{"id":"32683b79.b03404","type":"ui_text","z":"9cc75e52.ef3e1","group":"bd9093bc.46b838","order":17,"width":8,"height":1,"name":"Applications Intro Text","label":"Choose the application you wish to launch.","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":1420,"wires":[]},{"id":"a4149b0a.66ce38","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down Coffee Shop App","group":"bd9093bc.46b838","order":20,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"cafe_shutdown","payloadType":"str","topic":"","x":760,"y":1540,"wires":[["c0111861.ad10f"]]},{"id":"ab4e0a06.9ffcc","type":"function","z":"9cc75e52.ef3e1","name":"Set Map","func":"if (msg.payload === \"default\") {\n    global.set('map', \"\");\n} else if (msg.payload === \"museum\") {\n    global.set('map', \" museum\")\n} else if (msg.payload === \"cafe\") {\n    global.set('map', \" cafe\")\n} else if (msg.payload === \"house\") {\n    global.set('map', \" house\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[[]]},{"id":"5b2fb2fb.499e84","type":"change","z":"9cc75e52.ef3e1","name":"Set Global Variables","rules":[{"t":"set","p":"map_flag","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"map_chosen","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"44e1ea8b.318434","type":"function","z":"9cc75e52.ef3e1","name":"Set Map","func":"if (msg.payload === \"default\") {\n    global.set('map', \"\");\n} else if (msg.payload === \"museum\") {\n    global.set('map', \" museum\")\n} else if (msg.payload === \"cafe\") {\n    global.set('map', \" cafe\")\n} else if (msg.payload === \"house\") {\n    global.set('map', \" house\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":780,"wires":[[]]},{"id":"1533e871.8768a8","type":"change","z":"9cc75e52.ef3e1","name":"Set Global Variables","rules":[{"t":"set","p":"map_flag","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"map_chosen","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":840,"wires":[[]]},{"id":"da66c384.cf162","type":"change","z":"23124348.2a2fec","name":"Define Dropdown Options","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"options","pt":"msg","to":"[{\"Hall\":\"house_pos1\"},{\"Kitchen\":\"house_pos2\"},{\"Bedroom\":\"house_pos3\"},{\"Living Room\":\"house_pos4\"},{\"Office\":\"house_pos5\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":1140,"wires":[["5bc72baa.d5a04c"]]},{"id":"73c654ca.1feebc","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch House Security App","group":"bd9093bc.46b838","order":22,"width":6,"height":1,"passthru":false,"label":"Launch House Security App","tooltip":"","color":"","bgcolor":"","icon":"","payload":"house","payloadType":"str","topic":"","x":760,"y":1640,"wires":[["c0111861.ad10f","590f475a.ef2c7","e9ad1a79.acf63"]]},{"id":"54c8844f.9a8c0c","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down House Security App","group":"bd9093bc.46b838","order":23,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"house_shutdown","payloadType":"str","topic":"","x":770,"y":1720,"wires":[["c0111861.ad10f"]]},{"id":"3a22907d.b6f278","type":"config","z":"ecf93f80.b50dd8","name":"Set Initial Values of Variables","properties":[{"p":"house_feed","pt":"flow","to":"false","tot":"bool"},{"p":"route","pt":"flow","to":"false","tot":"bool"},{"p":"route_count","pt":"flow","to":"1","tot":"num"},{"p":"Kitchen","pt":"flow","to":"{\"px\":4.5,\"py\":1,\"yaw\":90}","tot":"json"},{"p":"Bedroom","pt":"flow","to":"{\"px\":4.5,\"py\":-3.5,\"yaw\":-90}","tot":"json"},{"p":"Living_Room","pt":"flow","to":"{\"px\":-3.5,\"py\":2.5,\"yaw\":90}","tot":"json"},{"p":"Office","pt":"flow","to":"{\"px\":-7.25,\"py\":3.5,\"yaw\":90}","tot":"json"},{"p":"Hall","pt":"flow","to":"{\"px\":0,\"py\":0,\"yaw\":0}","tot":"json"},{"p":"route_goal1","pt":"flow","to":"{\"px\":4.5,\"py\":1,\"yaw\":90}","tot":"json"},{"p":"route_goal2","pt":"flow","to":"{\"px\":4.5,\"py\":-3.5,\"yaw\":-90}","tot":"json"},{"p":"route_goal3","pt":"flow","to":"{\"px\":-3.5,\"py\":2.5,\"yaw\":90}","tot":"json"},{"p":"route_goal4","pt":"flow","to":"{\"px\":-7.25,\"py\":3.5,\"yaw\":90}","tot":"json"},{"p":"route_goal5","pt":"flow","to":"{\"px\":0,\"py\":0,\"yaw\":0}","tot":"json"},{"p":"goal1","pt":"flow","to":"Kitchen","tot":"str"},{"p":"goal2","pt":"flow","to":"Bedroom","tot":"str"},{"p":"goal3","pt":"flow","to":"Living_Room","tot":"str"},{"p":"goal4","pt":"flow","to":"Office","tot":"str"},{"p":"goal5","pt":"flow","to":"Hall","tot":"str"}],"active":true,"x":180,"y":40,"wires":[]},{"id":"1f26c5c0.e6ff52","type":"link in","z":"ecf93f80.b50dd8","name":"Map Feed Input - Coffee Shop","links":["66489e93.eba51"],"x":55,"y":360,"wires":[["6e7067cf.3ddbe8"]]},{"id":"1d4715eb.fc815a","type":"ui_button","z":"ecf93f80.b50dd8","name":"Start Feed","group":"475e3059.ab4a6","order":5,"width":4,"height":1,"passthru":false,"label":"Start Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":240,"wires":[["33821862.389ec"]]},{"id":"1a5c0f7e.1560f9","type":"ui_button","z":"ecf93f80.b50dd8","name":"Stop Feed","group":"475e3059.ab4a6","order":6,"width":4,"height":1,"passthru":false,"label":"Stop Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["e727b3ff.5d853"]]},{"id":"33821862.389ec","type":"change","z":"ecf93f80.b50dd8","name":"Raise Feed Flag","rules":[{"t":"set","p":"house_feed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[[]]},{"id":"e727b3ff.5d853","type":"change","z":"ecf93f80.b50dd8","name":"Lower Feed Flag","rules":[{"t":"set","p":"house_feed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[[]]},{"id":"806758e5.86fa78","type":"template","z":"ecf93f80.b50dd8","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"/>","output":"str","x":440,"y":360,"wires":[["9be5b224.fe6f5"]]},{"id":"9be5b224.fe6f5","type":"ui_template","z":"ecf93f80.b50dd8","group":"475e3059.ab4a6","name":"Show Map","order":3,"width":15,"height":14,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align: center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":610,"y":360,"wires":[[]]},{"id":"6e7067cf.3ddbe8","type":"switch","z":"ecf93f80.b50dd8","name":"Check If Feed Is Enabled","property":"house_feed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":360,"wires":[["806758e5.86fa78"]]},{"id":"e235136b.fdd6e8","type":"comment","z":"ecf93f80.b50dd8","name":"Map Feed","info":"","x":100,"y":120,"wires":[]},{"id":"cb7ad479.b73a08","type":"ui_text","z":"ecf93f80.b50dd8","group":"475e3059.ab4a6","order":1,"width":6,"height":1,"name":"Map Feed Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":530,"y":180,"wires":[]},{"id":"a3dc48bc.5a7ac","type":"inject","z":"ecf93f80.b50dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["a7371e99.c2f278"]]},{"id":"a7371e99.c2f278","type":"change","z":"ecf93f80.b50dd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Map Feed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["cb7ad479.b73a08"]]},{"id":"20a1864.5df56fa","type":"comment","z":"23124348.2a2fec","name":"Map Feed","info":"","x":80,"y":100,"wires":[]},{"id":"61bb06b4.20fc7","type":"ui_text","z":"23124348.2a2fec","group":"de37b259.47d968","order":1,"width":6,"height":1,"name":"Map Feed Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":490,"y":160,"wires":[]},{"id":"d7c0a4cd.d35868","type":"inject","z":"23124348.2a2fec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":160,"wires":[["98b567fa.d4bc38"]]},{"id":"98b567fa.d4bc38","type":"change","z":"23124348.2a2fec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Map Feed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["61bb06b4.20fc7"]]},{"id":"74dff947.1451f8","type":"ui_text","z":"23124348.2a2fec","group":"8d7fa496.67d34","order":1,"width":6,"height":1,"name":"Teleoperation Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":540,"y":420,"wires":[]},{"id":"6d1f2fd9.e1361","type":"inject","z":"23124348.2a2fec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":420,"wires":[["37f4907a.1d6358"]]},{"id":"37f4907a.1d6358","type":"change","z":"23124348.2a2fec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Teleoperation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["74dff947.1451f8"]]},{"id":"7fdd21bd.ced4b","type":"comment","z":"23124348.2a2fec","name":"Teleoperation","info":"","x":110,"y":360,"wires":[]},{"id":"3fd2d520.08c832","type":"comment","z":"23124348.2a2fec","name":"Goal Navigation","info":"","x":120,"y":840,"wires":[]},{"id":"a39423ec.757d5","type":"inject","z":"23124348.2a2fec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":900,"wires":[["826220fb.faaad"]]},{"id":"826220fb.faaad","type":"change","z":"23124348.2a2fec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Goal Navigation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":900,"wires":[["f779d394.3ea0c8"]]},{"id":"f779d394.3ea0c8","type":"ui_text","z":"23124348.2a2fec","group":"8d7fa496.67d34","order":22,"width":6,"height":1,"name":"Goal Navigation Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":550,"y":900,"wires":[]},{"id":"111f8890.a8ebdf","type":"function","z":"ecf93f80.b50dd8","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.5\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":180,"wires":[["3cae995c.c51aa6"]]},{"id":"b8126560.2a4298","type":"function","z":"ecf93f80.b50dd8","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : -0.5\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":260,"wires":[["3cae995c.c51aa6"]]},{"id":"ce711e69.2735d8","type":"function","z":"ecf93f80.b50dd8","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : 0.5,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":340,"wires":[["3cae995c.c51aa6"]]},{"id":"c3ef6485.3f0c98","type":"function","z":"ecf93f80.b50dd8","name":"Set geometry_msgs/Twist","func":"var twist = {\nlinear : {\n    x : -0.5,\n    y : 0.0,\n    z : 0.0\n},\nangular : {\n    x : 0.0,\n    y : 0.0,\n    z : 0.0\n}\n};\n\nmsg.payload = twist;\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":420,"wires":[["3cae995c.c51aa6"]]},{"id":"4b3bf33e.230b24","type":"subflow:2af08135.1c0cd6","z":"ecf93f80.b50dd8","name":"Real Time Button","env":[],"x":1110,"y":180,"wires":[["111f8890.a8ebdf"]]},{"id":"ce1d656d.37df48","type":"ui_template","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","name":"Turn Right Button","order":11,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Turn Right</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":260,"wires":[["e27886cc.72ce68"]]},{"id":"e27886cc.72ce68","type":"subflow:2af08135.1c0cd6","z":"ecf93f80.b50dd8","name":"Real Time Button","env":[],"x":1110,"y":260,"wires":[["b8126560.2a4298"]]},{"id":"5bda66ab.476a8","type":"ui_template","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","name":"Go Forward Button","order":4,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Go Forward</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":340,"wires":[["13ccb25c.ab5b0e"]]},{"id":"13ccb25c.ab5b0e","type":"subflow:2af08135.1c0cd6","z":"ecf93f80.b50dd8","name":"Real Time Button","env":[],"x":1110,"y":340,"wires":[["ce711e69.2735d8"]]},{"id":"4ca473e8.d49aac","type":"ui_template","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","name":"Go Backwards Button","order":17,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Go Backwards</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":880,"y":420,"wires":[["22846bc7.79ce8c"]]},{"id":"22846bc7.79ce8c","type":"subflow:2af08135.1c0cd6","z":"ecf93f80.b50dd8","name":"Real Time Button","env":[],"x":1110,"y":420,"wires":[["c3ef6485.3f0c98"]]},{"id":"cac6f841.45756","type":"ui_template","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","name":"Turn Left Button","order":9,"width":5,"height":2,"format":"<style>\n .button {\n  height: 50%;\n  width: 50%;\n  padding: 15px 5px;\n  font-size: 15px;\n  text-align: center;\n  cursor: pointer;\n  outline: none;\n  color: #fff;\n  background-color: #0094CE;\n  border: none;\n  border-radius: 12px;\n  box-shadow: 0 7px #999;\n}\n\n.button:hover {background-color: #0271a8}\n\n.button:active {\n  background-color: #0271a8;\n  box-shadow: 0 5px #666;\n  transform: translateY(4px);\n}\n\n\n</style>\n\n<button class=\"button\" ng-mousedown=\"send({payload: 'down'})\" ng-mouseup=\"send({payload: 'up'})\">Turn Left</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":860,"y":180,"wires":[["4b3bf33e.230b24"]]},{"id":"3cae995c.c51aa6","type":"mqtt out","z":"ecf93f80.b50dd8","name":"Send Message","topic":"cmd_vel_mux/input/teleop","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1680,"y":300,"wires":[]},{"id":"4ea1356f.4b6ec4","type":"function","z":"ecf93f80.b50dd8","name":"Set Topic","func":"robots = global.get('robot_number');\n\nif (robots === 1) {\n    msg.topic = \"cmd_vel_mux/input/teleop\";\n} else if (robots === 2) {\n    robot = global.get('robot');\n    if (robot === \"robot1\") {\n        msg.topic = \"robot1/cmd_vel_mux/input/teleop\";\n    } else if (robot === \"robot2\") {\n        msg.topic = \"robot2/cmd_vel_mux/input/teleop\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":140,"wires":[[]]},{"id":"c5320e47.b47128","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":1,"width":6,"height":1,"name":"Teleoperation Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":1280,"y":100,"wires":[]},{"id":"2ed5cbdf.0e080c","type":"inject","z":"ecf93f80.b50dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":870,"y":100,"wires":[["23907a8f.5f922e"]]},{"id":"23907a8f.5f922e","type":"change","z":"ecf93f80.b50dd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Teleoperation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":100,"wires":[["c5320e47.b47128"]]},{"id":"fe342f18.4ab48","type":"comment","z":"ecf93f80.b50dd8","name":"Teleoperation","info":"","x":850,"y":40,"wires":[]},{"id":"fbffa53.e0d29d8","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":19,"width":6,"height":1,"name":"Goal Navigation Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":570,"y":600,"wires":[]},{"id":"b8c335ca.9acea","type":"inject","z":"ecf93f80.b50dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":600,"wires":[["cf09cb49.46f35"]]},{"id":"cf09cb49.46f35","type":"change","z":"ecf93f80.b50dd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Goal Navigation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":600,"wires":[["fbffa53.e0d29d8"]]},{"id":"f4ef1405.549d7","type":"comment","z":"ecf93f80.b50dd8","name":"Goal Navigation","info":"","x":140,"y":540,"wires":[]},{"id":"895bbab8.fed39","type":"ui_dropdown","z":"ecf93f80.b50dd8","name":"Position Goal","label":"Position:","tooltip":"","place":"Select Position","group":"7a191414.44f72c","order":23,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Hall","value":"house_pos1","type":"str"},{"label":"Kitchen","value":"house_pos2","type":"str"},{"label":"Bedroom","value":"house_pos3","type":"str"},{"label":"Living Room","value":"house_pos4","type":"str"},{"label":"Office","value":"house_pos5","type":"str"}],"payload":"","topic":"","x":330,"y":680,"wires":[["91c5ab0b.a511a"]]},{"id":"91c5ab0b.a511a","type":"function","z":"ecf93f80.b50dd8","name":"Send Correct Position Goal","func":"pos = msg.payload.split(\"_\")[1];\n\n\nif (pos === \"pos1\") {\n        flow.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n    } else if (pos === \"pos2\") {\n       flow.set('position_goal', {\n            px : 4.5,\n            py : 1,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos3\") {\n        flow.set('position_goal', {\n            px : 4.5,\n            py : -3.5,\n            yaw : -90\n            \n        })\n    } else if (pos === \"pos4\") {\n        flow.set('position_goal', {\n            px : -3.5,\n            py : 2.5,\n            yaw : 90\n            \n        })\n    } else if (pos === \"pos5\") {\n        flow.set('position_goal', {\n            px : -7.25,\n            py : 3.5,\n            yaw : 90\n            \n        })\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":680,"wires":[[]]},{"id":"ce7f21a6.aa52b","type":"change","z":"ecf93f80.b50dd8","name":"Get Position Goal","rules":[{"t":"set","p":"payload","pt":"msg","to":"position_goal","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":740,"wires":[["a2859eae.e8357"]]},{"id":"c2a9abff.b6af3","type":"ui_button","z":"ecf93f80.b50dd8","name":"Send Robot Button","group":"7a191414.44f72c","order":25,"width":4,"height":1,"passthru":false,"label":"Send Robot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"send_goal_nodered","x":350,"y":740,"wires":[["ce7f21a6.aa52b"]]},{"id":"a2859eae.e8357","type":"function","z":"ecf93f80.b50dd8","name":"Create geometry_msgs/Pose - Move","func":"var input = msg.payload;\n\nvar yaw = input.yaw * Math.PI / 180;\nvar pitch = 0;\nvar roll = 0;\n\nvar cy = Math.cos(yaw * 0.5);\nvar sy = Math.sin(yaw * 0.5);\nvar cp = Math.cos(pitch * 0.5);\nvar sp = Math.sin(pitch * 0.5);\nvar cr = Math.cos(roll * 0.5);\nvar sr = Math.sin(roll * 0.5);\n\nvar pose = {\nposition : {\n    x : input.px,\n    y : input.py,\n    z : 0\n},\norientation : {\n    w : cr * cp * cy + sr * sp * sy,\n    x : sr * cp * cy - cr * sp * sy,\n    y : cr * sp * cy + sr * cp * sy,\n    z : cr * cp * sy - sr * sp * cy\n}\n};\n\nmsg.payload = pose\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["e1ad7ac6.19c698"]]},{"id":"e1ad7ac6.19c698","type":"mqtt out","z":"ecf93f80.b50dd8","name":"Send Navigation Goal","topic":"send_goal_nodered","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1160,"y":740,"wires":[]},{"id":"ab9eed86.d7d46","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":21,"width":6,"height":1,"name":"Send Robot Text","label":"Send robot to specific position:","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":600,"wires":[]},{"id":"9b5c9c8e.556dd","type":"ui_toast","z":"ecf93f80.b50dd8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Intruder Notification","x":690,"y":1300,"wires":[[]]},{"id":"69f93aaf.64b06c","type":"inject","z":"ecf93f80.b50dd8","name":"Simulate Intruder Detection","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1300,"wires":[["d9efc73d.e56518","b661d71c.63506","63f87423.02152c"]]},{"id":"b2378036.f59018","type":"e-mail","z":"ecf93f80.b50dd8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"kostasgioko8@gmail.com","dname":"Inform by Email","x":740,"y":1360,"wires":[]},{"id":"d9efc73d.e56518","type":"moment","z":"ecf93f80.b50dd8","name":"Send Intruder Message with Date","topic":"Intruder detected","input":"payload","inputType":"msg","inTz":"Europe/Athens","adjAmount":0,"adjType":"days","adjDir":"add","format":"\"dddd, MMMM Do YYYY, h:mm:ss a\"","locale":"en-US","output":"payload","outputType":"msg","outTz":"Europe/Athens","x":480,"y":1360,"wires":[["b2378036.f59018"]]},{"id":"b661d71c.63506","type":"change","z":"ecf93f80.b50dd8","name":"Set Notification Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Intruder detected!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1300,"wires":[["9b5c9c8e.556dd"]]},{"id":"3041fb3e.7c07cc","type":"comment","z":"ecf93f80.b50dd8","name":"Intruder Detection","info":"","x":150,"y":1240,"wires":[]},{"id":"b7ff036c.db3958","type":"comment","z":"ecf93f80.b50dd8","name":"Patrol","info":"","x":110,"y":840,"wires":[]},{"id":"6227920e.dce2f4","type":"change","z":"ecf93f80.b50dd8","name":"Raise Route Flag","rules":[{"t":"set","p":"route","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1120,"wires":[[]]},{"id":"f0dd24a7.89a5b","type":"change","z":"ecf93f80.b50dd8","name":"Lower Route Flag","rules":[{"t":"set","p":"route","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1180,"wires":[[]]},{"id":"af9281a6.d31ed","type":"mqtt in","z":"ecf93f80.b50dd8","name":"","topic":"goal_reached","qos":"2","datatype":"auto","broker":"db578bcb.6a1f9","x":130,"y":1020,"wires":[["448ca8a.2b553d8"]]},{"id":"448ca8a.2b553d8","type":"function","z":"ecf93f80.b50dd8","name":"Check If Goal is Reached","func":"flag = flow.get('route');\nif (flag === true) {\n\n    msg.payload = msg.payload.substr(9,4)\n    if (msg.payload === \"true\") {\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n    \n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1020,"wires":[["1d2d4e3a.19763a"]]},{"id":"e125767f.d05a78","type":"function","z":"ecf93f80.b50dd8","name":"Go to Next Point","func":"count = flow.get('route_count');\n\nif (count === 1) {\n\n    flow.set('position_goal', {\n            px : 0,\n            py : 0,\n            yaw : 0\n            \n        })\n} else if (count == 2) {\n    \n    flow.set('position_goal', {\n            px : 4.5,\n            py : 1,\n            yaw : 90\n            \n        })\n} else if (count == 3) {\n    \n    flow.set('position_goal', {\n            px : 4.5,\n            py : -3.5,\n            yaw : -90\n            \n        })\n} else if (count == 4) {\n    \n    flow.set('position_goal', {\n            px : -3.5,\n            py : 2.5,\n            yaw : 90\n            \n        })\n} else if (count == 5){\n    count = 0;\n    \n    flow.set('position_goal', {\n            px : -7.25,\n            py : 3.5,\n            yaw : 90\n            \n        })\n            \n}\n\nif (count != 5) {\n    count = count + 1;\n}\n\nflow.set('route_count', count);\n        \nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1240,"wires":[[]]},{"id":"5b5fb6ab.c4311","type":"delay","z":"ecf93f80.b50dd8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1020,"wires":[["3ae61136.e7eb0e"]]},{"id":"19c7d515.dc7423","type":"switch","z":"ecf93f80.b50dd8","name":"Check If Route Has Started","property":"route","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1080,"wires":[["6227920e.dce2f4","3ae61136.e7eb0e"]]},{"id":"63f87423.02152c","type":"switch","z":"ecf93f80.b50dd8","name":"Check If Route Has Started","property":"route","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1180,"wires":[["f0dd24a7.89a5b"]]},{"id":"1d2d4e3a.19763a","type":"switch","z":"ecf93f80.b50dd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1020,"wires":[["5b5fb6ab.c4311"]]},{"id":"a430cc53.469068","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":27,"width":6,"height":1,"name":"Robot Patrol Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":540,"y":900,"wires":[]},{"id":"75eaeea8.d145e8","type":"inject","z":"ecf93f80.b50dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":900,"wires":[["ae78594e.908d08"]]},{"id":"ae78594e.908d08","type":"change","z":"ecf93f80.b50dd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Robot Patrol","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":900,"wires":[["a430cc53.469068"]]},{"id":"4c410be7.991d2c","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":29,"width":6,"height":1,"name":"Robot Patrol Text","label":"Start patroling the house:","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":960,"wires":[]},{"id":"352ef4b4.e30b24","type":"ui_button","z":"ecf93f80.b50dd8","name":"Start Patrol","group":"7a191414.44f72c","order":32,"width":4,"height":1,"passthru":false,"label":"Start Patrol","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["19c7d515.dc7423"]]},{"id":"bb42542b.146a5","type":"ui_button","z":"ecf93f80.b50dd8","name":"Stop Patrol","group":"7a191414.44f72c","order":33,"width":4,"height":1,"passthru":false,"label":"Stop Patrol","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1180,"wires":[["63f87423.02152c"]]},{"id":"3ae61136.e7eb0e","type":"function","z":"ecf93f80.b50dd8","name":"Go to Next Point","func":"count = flow.get('route_count');\n\nif (count === 1) {\n    \n    goal = flow.get('route_goal1');\n    flow.set('position_goal', goal);\n    \n} else if (count == 2) {\n    \n    goal = flow.get('route_goal2');\n    flow.set('position_goal', goal);\n    \n} else if (count == 3) {\n    \n    goal = flow.get('route_goal3');\n    flow.set('position_goal', goal);\n    \n} else if (count == 4) {\n    \n    goal = flow.get('route_goal4');\n    flow.set('position_goal', goal);\n    \n} else if (count == 5){\n    count = 0;\n    \n    goal = flow.get('route_goal5');\n    flow.set('position_goal', goal);\n        \n}\n\nif (count != 5) {\n    count = count + 1;\n}\n\nflow.set('route_count', count);\n        \nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1080,"wires":[["ce7f21a6.aa52b"]]},{"id":"26568315.7989c4","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":35,"width":6,"height":1,"name":"Change Route Text","label":"Change Goal Order in Route:","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":920,"wires":[]},{"id":"d0bfee87.7b84d8","type":"ui_dropdown","z":"ecf93f80.b50dd8","name":"Choose Goal ","label":"Goal","tooltip":"","place":"Select goal","group":"7a191414.44f72c","order":40,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Hall","value":"Hall","type":"str"},{"label":"Kitchen","value":"Kitchen","type":"str"},{"label":"Bedroom","value":"Bedroom","type":"str"},{"label":"Living Room","value":"Living_Room","type":"str"},{"label":"Office","value":"Office","type":"str"}],"payload":"","topic":"","x":1190,"y":1000,"wires":[["467dcc3d.3070e4"]]},{"id":"1854125f.3d7f06","type":"ui_dropdown","z":"ecf93f80.b50dd8","name":"Goal Position in Route","label":"Position","tooltip":"","place":"Select option","group":"7a191414.44f72c","order":42,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1st","value":1,"type":"num"},{"label":"2nd","value":2,"type":"num"},{"label":"3rd","value":3,"type":"num"},{"label":"4th","value":4,"type":"num"},{"label":"5th","value":5,"type":"num"}],"payload":"","topic":"","x":1220,"y":1060,"wires":[["57960283.243dc4"]]},{"id":"467dcc3d.3070e4","type":"change","z":"ecf93f80.b50dd8","name":"Set Goal to Change","rules":[{"t":"set","p":"route_goal_to_change","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1000,"wires":[[]]},{"id":"57960283.243dc4","type":"change","z":"ecf93f80.b50dd8","name":"Set Route Position to Change","rules":[{"t":"set","p":"route_position","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1060,"wires":[[]]},{"id":"5575bb0.c8e0844","type":"ui_button","z":"ecf93f80.b50dd8","name":"Change Route Goal","group":"7a191414.44f72c","order":45,"width":4,"height":1,"passthru":false,"label":"Change Route Goal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1220,"y":1120,"wires":[["ae9bcfab.bf412"]]},{"id":"ae9bcfab.bf412","type":"function","z":"ecf93f80.b50dd8","name":"Change Goal in Route","func":"goal = flow.get('route_goal_to_change');\nif (goal === \"Hall\") {\n    goal_coordinates = flow.get(\"Hall\");\n} else if (goal === \"Kitchen\") {\n    goal_coordinates = flow.get(\"Kitchen\");\n} else if (goal === \"Bedroom\") {\n    goal_coordinates = flow.get(\"Bedroom\");\n} else if (goal === \"Living_Room\") {\n    goal_coordinates = flow.get(\"Living_Room\");\n} else if (goal === \"Office\") {\n    goal_coordinates = flow.get(\"Office\");\n}\n\n\nposition = flow.get('route_position');\nif (position == 1) {\n    flow.set('route_goal1', goal_coordinates);\n    flow.set('goal1', goal);\n} else if (position == 2) {\n    flow.set('route_goal2', goal_coordinates);\n    flow.set('goal2', goal);\n} else if (position == 3) {\n    flow.set('route_goal3', goal_coordinates);\n    flow.set('goal3', goal);\n} else if (position == 4) {\n    flow.set('route_goal4', goal_coordinates);\n    flow.set('goal4', goal);\n} else if (position == 5) {\n    flow.set('route_goal5', goal_coordinates);\n    flow.set('goal5', goal);\n}\n\nmsg.payload = goal;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":1120,"wires":[["3eabf72e.94b2f8"]]},{"id":"dac9d04a.84006","type":"ui_text","z":"ecf93f80.b50dd8","group":"7a191414.44f72c","order":38,"width":11,"height":1,"name":"Route Order Text","label":"Route Order:","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":1180,"wires":[]},{"id":"ddc2fac3.507938","type":"inject","z":"ecf93f80.b50dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":1180,"wires":[["3eabf72e.94b2f8"]]},{"id":"3eabf72e.94b2f8","type":"function","z":"ecf93f80.b50dd8","name":"Route Order Text Format","func":"goal1 = flow.get('goal1');\ngoal2 = flow.get('goal2');\ngoal3 = flow.get('goal3');\ngoal4 = flow.get('goal4');\ngoal5 = flow.get('goal5');\n\n\nmsg.payload = goal1.concat(\" -> \");\nmsg.payload = msg.payload.concat(goal2);\nmsg.payload = msg.payload.concat(\" -> \");\nmsg.payload = msg.payload.concat(goal3);\nmsg.payload = msg.payload.concat(\" -> \");\nmsg.payload = msg.payload.concat(goal4);\nmsg.payload = msg.payload.concat(\" -> \");\nmsg.payload = msg.payload.concat(goal5);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":1180,"wires":[["dac9d04a.84006"]]},{"id":"ca6c383.2abe1c8","type":"file in","z":"42c70daf.af82cc","name":"Load Logo Image From File","filename":"/home/giokotos/Pictures/turtlebot_nodered_logo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":360,"y":200,"wires":[["e1676cc4.a4774"]]},{"id":"d0e1efea.bf29b8","type":"inject","z":"42c70daf.af82cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":200,"wires":[["ca6c383.2abe1c8"]]},{"id":"bcf60aa5.56bac","type":"template","z":"42c70daf.af82cc","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"/>","output":"str","x":780,"y":200,"wires":[["81f9d27a.5f6028"]]},{"id":"81f9d27a.5f6028","type":"ui_template","z":"42c70daf.af82cc","group":"a293d97d.ce47a8","name":"Show Map","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align: center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":950,"y":200,"wires":[[]]},{"id":"e1676cc4.a4774","type":"base64","z":"42c70daf.af82cc","name":"","action":"","property":"payload","x":600,"y":200,"wires":[["bcf60aa5.56bac"]]},{"id":"ca9a74dc.406128","type":"comment","z":"42c70daf.af82cc","name":"Logo Image","info":"","x":110,"y":80,"wires":[]},{"id":"3cafac98.09a02c","type":"ui_text","z":"42c70daf.af82cc","group":"a293d97d.ce47a8","order":1,"width":9,"height":1,"name":"Home Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":520,"y":140,"wires":[]},{"id":"58e47fa4.375b7","type":"inject","z":"42c70daf.af82cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["5e956db3.d9b654"]]},{"id":"5e956db3.d9b654","type":"change","z":"42c70daf.af82cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"TurtleBot - Node-RED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["3cafac98.09a02c"]]},{"id":"d04eefa9.f5b8c","type":"ui_text","z":"42c70daf.af82cc","group":"a293d97d.ce47a8","order":4,"width":0,"height":0,"name":"Welcome Text","label":"Welcome to the TurtleBot - Node-RED Application!","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":260,"wires":[]},{"id":"78583bc8.122b3c","type":"ui_text","z":"42c70daf.af82cc","group":"a293d97d.ce47a8","order":5,"width":0,"height":0,"name":"Launchers Explanation","label":"In the 'Launchers' Tab you can select the module you want to launch. You can choose between the general functions of the system, or a specific App that showcases how the system can be used.","format":"{{msg.payload}}","layout":"row-spread","x":140,"y":320,"wires":[]},{"id":"fb3a23c.baa17e","type":"ui_text","z":"42c70daf.af82cc","group":"a293d97d.ce47a8","order":5,"width":0,"height":0,"name":"Tab Explanation","label":"If you launched a general module, you can control the robot through the 'Robot Control' Tab. Otherwise, choose the Tab that corresponds to the specific App you launched.","format":"{{msg.payload}}","layout":"row-spread","x":120,"y":380,"wires":[]},{"id":"243e7669.e1f20a","type":"link in","z":"61640ddb.348604","name":"Map Feed Input - Coffee Shop","links":["66489e93.eba51"],"x":55,"y":360,"wires":[["868a98e6.f00e7"]]},{"id":"1456e5cc.ed4762","type":"ui_button","z":"61640ddb.348604","name":"Start Feed","group":"67e32fde.3084b8","order":5,"width":4,"height":1,"passthru":false,"label":"Start Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":240,"wires":[["e98575a2.330e7"]]},{"id":"24a539a3.cb7e1e","type":"ui_button","z":"61640ddb.348604","name":"Stop Feed","group":"67e32fde.3084b8","order":6,"width":4,"height":1,"passthru":false,"label":"Stop Feed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":300,"wires":[["a1a10f8a.7f86a"]]},{"id":"e98575a2.330e7","type":"change","z":"61640ddb.348604","name":"Raise Feed Flag","rules":[{"t":"set","p":"art_feed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[[]]},{"id":"a1a10f8a.7f86a","type":"change","z":"61640ddb.348604","name":"Lower Feed Flag","rules":[{"t":"set","p":"art_feed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[[]]},{"id":"a796b752.38bea","type":"template","z":"61640ddb.348604","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"/>","output":"str","x":440,"y":360,"wires":[["bf56db42.5f4d38"]]},{"id":"bf56db42.5f4d38","type":"ui_template","z":"61640ddb.348604","group":"67e32fde.3084b8","name":"Show Map","order":3,"width":15,"height":15,"format":"<div ng-bind-html=\"msg.payload\" style=\"text-align: center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":610,"y":360,"wires":[[]]},{"id":"868a98e6.f00e7","type":"switch","z":"61640ddb.348604","name":"Check If Feed Is Enabled","property":"art_feed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":360,"wires":[["a796b752.38bea"]]},{"id":"2c609f5c.ab3f78","type":"comment","z":"61640ddb.348604","name":"Map Feed","info":"","x":100,"y":120,"wires":[]},{"id":"f9f7b904.074ff","type":"ui_text","z":"61640ddb.348604","group":"67e32fde.3084b8","order":1,"width":6,"height":1,"name":"Map Feed Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":530,"y":180,"wires":[]},{"id":"3a96464a.2d990a","type":"inject","z":"61640ddb.348604","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["bf585efd.e632b8"]]},{"id":"bf585efd.e632b8","type":"change","z":"61640ddb.348604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Map Feed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["f9f7b904.074ff"]]},{"id":"f1d8818a.ec11b8","type":"ui_button","z":"9cc75e52.ef3e1","name":"Launch Art Gallery App","group":"bd9093bc.46b838","order":25,"width":6,"height":1,"passthru":false,"label":"Launch Art Gallery App","tooltip":"","color":"","bgcolor":"","icon":"","payload":"art","payloadType":"str","topic":"","x":790,"y":1820,"wires":[["c0111861.ad10f","9e91332c.da738","ca59608a.37b568"]]},{"id":"bdc219b1.9b147","type":"ui_button","z":"9cc75e52.ef3e1","name":"Shut Down Art Gallery App","group":"bd9093bc.46b838","order":26,"width":5,"height":1,"passthru":false,"label":"Shut Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"art_shutdown","payloadType":"str","topic":"","x":780,"y":1900,"wires":[["c0111861.ad10f"]]},{"id":"590f475a.ef2c7","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"robot_number","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1580,"wires":[[]]},{"id":"9e91332c.da738","type":"change","z":"9cc75e52.ef3e1","name":"","rules":[{"t":"set","p":"robot_number","pt":"global","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1820,"wires":[[]]},{"id":"e9ad1a79.acf63","type":"link out","z":"9cc75e52.ef3e1","name":"Single Trigger","links":["e45ada5f.5d7fd","739e846.dbeadfc","36fa784.16d4a08"],"x":1035,"y":1520,"wires":[]},{"id":"ca59608a.37b568","type":"link out","z":"9cc75e52.ef3e1","name":"Multi Trigger","links":["e45ada5f.5d7fd","739e846.dbeadfc","36fa784.16d4a08"],"x":1035,"y":1760,"wires":[]},{"id":"4d5d64d2.684644","type":"comment","z":"61640ddb.348604","name":"Exhibition Route","info":"","x":120,"y":620,"wires":[]},{"id":"6e84b9f4.849548","type":"inject","z":"61640ddb.348604","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":680,"wires":[["97ee0222.085fa"]]},{"id":"97ee0222.085fa","type":"change","z":"61640ddb.348604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Exhibitions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["2b1793b9.b5163c"]]},{"id":"2b1793b9.b5163c","type":"ui_text","z":"61640ddb.348604","group":"96974563.89e108","order":1,"width":6,"height":1,"name":"Exhibitions Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":530,"y":680,"wires":[]},{"id":"3338b6b5.2b0efa","type":"ui_text","z":"61640ddb.348604","group":"96974563.89e108","order":3,"width":7,"height":1,"name":"Tour 1 Text","label":"Tour 1: <br>The guide for Tour 1 is the black robot.","format":"{{msg.payload}}","layout":"row-left","x":110,"y":820,"wires":[]},{"id":"24593101.c18406","type":"mqtt in","z":"61640ddb.348604","name":"","topic":"robot2_goal_reached","qos":"2","datatype":"auto","broker":"db578bcb.6a1f9","x":660,"y":1600,"wires":[["1036412b.6bf76f"]]},{"id":"8b00aed5.81d49","type":"config","z":"61640ddb.348604","name":"Set Initial Values of Variables","properties":[{"p":"art_feed","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot1","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot1_count","pt":"flow","to":"1","tot":"num"},{"p":"route_robot1_end","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot1_goal_reached","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot1_goal1","pt":"flow","to":"{\"px\":-8,\"py\":-13,\"yaw\":0}","tot":"json"},{"p":"route_robot1_goal2","pt":"flow","to":"{\"px\":-7,\"py\":-10,\"yaw\":-90}","tot":"json"},{"p":"route_robot1_goal3","pt":"flow","to":"{\"px\":-3.5,\"py\":-4,\"yaw\":180}","tot":"json"},{"p":"route_robot1_goal4","pt":"flow","to":"{\"px\":-7,\"py\":-0.5,\"yaw\":-90}","tot":"json"},{"p":"route_robot1_goal5","pt":"flow","to":"{\"px\":-0.5,\"py\":-14,\"yaw\":-90}","tot":"json"},{"p":"route_robot1_text1","pt":"flow","to":"This is the 1st Exhibit.","tot":"str"},{"p":"route_robot1_text2","pt":"flow","to":"This is the 2nd Exhibit.","tot":"str"},{"p":"route_robot1_text3","pt":"flow","to":"This is the 3rd Exhibit.","tot":"str"},{"p":"route_robot1_text4","pt":"flow","to":"This is the 4th Exhibit.","tot":"str"},{"p":"route_robot2","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot2_count","pt":"flow","to":"1","tot":"num"},{"p":"route_robot2_end","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot2_goal_reached","pt":"flow","to":"false","tot":"bool"},{"p":"route_robot2_goal1","pt":"flow","to":"{\"px\":-1,\"py\":-8.5,\"yaw\":0}","tot":"json"},{"p":"route_robot2_goal2","pt":"flow","to":"{\"px\":0,\"py\":-4.5,\"yaw\":-90}","tot":"json"},{"p":"route_robot2_goal3","pt":"flow","to":"{\"px\":4,\"py\":-5,\"yaw\":0}","tot":"json"},{"p":"route_robot2_goal4","pt":"flow","to":"{\"px\":0,\"py\":-2,\"yaw\":90}","tot":"json"},{"p":"route_robot2_goal5","pt":"flow","to":"{\"px\":2,\"py\":-14,\"yaw\":-90}","tot":"json"},{"p":"route_robot2_text1","pt":"flow","to":"This is the 1st Exhibit.","tot":"str"},{"p":"route_robot2_text2","pt":"flow","to":"This is the 2nd Exhibit.","tot":"str"},{"p":"route_robot2_text3","pt":"flow","to":"This is the 3rd Exhibit.","tot":"str"},{"p":"route_robot2_text4","pt":"flow","to":"This is the 4th Exhibit.","tot":"str"}],"active":true,"x":180,"y":60,"wires":[]},{"id":"72a95980.ca33e","type":"mqtt in","z":"61640ddb.348604","name":"","topic":"robot1_goal_reached","qos":"2","datatype":"auto","broker":"db578bcb.6a1f9","x":660,"y":920,"wires":[["4161b5eb.a1a80c"]]},{"id":"611b3bde.59c5e4","type":"change","z":"61640ddb.348604","name":"Route and Route End Flags","rules":[{"t":"set","p":"route_robot1","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"route_robot1_end","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1100,"wires":[[]]},{"id":"2c171b9f.b64964","type":"change","z":"61640ddb.348604","name":"Lower Route Flag","rules":[{"t":"set","p":"route_robot1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1160,"wires":[[]]},{"id":"4161b5eb.a1a80c","type":"function","z":"61640ddb.348604","name":"Raise Goal Reached Flag","func":"flag = flow.get('route_robot1');\nif (flag === true) {\n\n    msg.payload = msg.payload.substr(9,4)\n    if (msg.payload === \"true\") {\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n    \n} else {\n    msg.payload = false;\n}\n\nflow.set('route_robot1_goal_reached', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":920,"wires":[["5dbabb9e.80e034"]]},{"id":"f515495e.7109a8","type":"switch","z":"61640ddb.348604","name":"Check If Route Has Started","property":"route_robot1","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":1060,"wires":[["611b3bde.59c5e4","f02403ca.820bf","7f9cf9ff.0cf5b8"]]},{"id":"42b81ce2.b97964","type":"switch","z":"61640ddb.348604","name":"Check If Route Has Started","property":"route_robot1","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1520,"y":1160,"wires":[["2c171b9f.b64964"]]},{"id":"aec3ade8.f86a38","type":"ui_button","z":"61640ddb.348604","name":"Start Tour","group":"96974563.89e108","order":6,"width":4,"height":1,"passthru":true,"label":"Start Tour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1060,"wires":[["f515495e.7109a8"]]},{"id":"7b97fc6f.9eb39c","type":"ui_button","z":"61640ddb.348604","name":"Stop Tour","group":"96974563.89e108","order":12,"width":4,"height":1,"passthru":true,"label":"Stop Tour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1160,"wires":[["305452c.7127cae"]]},{"id":"e0a280b6.2590d8","type":"function","z":"61640ddb.348604","name":"Go to Next Point","func":"count = flow.get('route_robot1_count');\n\nif (count === 1) {\n    \n    goal = flow.get('route_robot1_goal1');\n    flow.set('position_goal_robot1', goal);\n    \n} else if (count == 2) {\n    \n    goal = flow.get('route_robot1_goal2');\n    flow.set('position_goal_robot1', goal);\n    \n} else if (count == 3) {\n    \n    goal = flow.get('route_robot1_goal3');\n    flow.set('position_goal_robot1', goal);\n    \n} else if (count == 4) {\n    \n    goal = flow.get('route_robot1_goal4');\n    flow.set('position_goal_robot1', goal);\n    \n} else if (count == 5) {\n    \n    goal = flow.get('route_robot1_goal5');\n    flow.set('position_goal_robot1', goal);\n    \n}\n\nif (count != 5) {\n    count = count + 1;\n} else {\n    count = 1;\n}\n\nflow.set('route_robot1_count', count);\n        \nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1060,"wires":[["6e01eb67.5a9fc4","3dc46606.b73efa"]]},{"id":"6e01eb67.5a9fc4","type":"change","z":"61640ddb.348604","name":"Get Position Goal","rules":[{"t":"set","p":"payload","pt":"msg","to":"position_goal_robot1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":1000,"wires":[["54f1d4ea.21823c","ac0c368f.2d3858"]]},{"id":"54f1d4ea.21823c","type":"function","z":"61640ddb.348604","name":"Create geometry_msgs/Pose - Move","func":"var input = msg.payload;\n\nvar yaw = input.yaw * Math.PI / 180;\nvar pitch = 0;\nvar roll = 0;\n\nvar cy = Math.cos(yaw * 0.5);\nvar sy = Math.sin(yaw * 0.5);\nvar cp = Math.cos(pitch * 0.5);\nvar sp = Math.sin(pitch * 0.5);\nvar cr = Math.cos(roll * 0.5);\nvar sr = Math.sin(roll * 0.5);\n\nvar pose = {\nposition : {\n    x : input.px,\n    y : input.py,\n    z : 0\n},\norientation : {\n    w : cr * cp * cy + sr * sp * sy,\n    x : sr * cp * cy - cr * sp * sy,\n    y : cr * sp * cy + sr * cp * sy,\n    z : cr * cp * sy - sr * sp * cy\n}\n};\n\nmsg.payload = pose\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1000,"wires":[["77340434.e8c394"]]},{"id":"77340434.e8c394","type":"mqtt out","z":"61640ddb.348604","name":"Send Navigation Goal","topic":"robot1_send_goal_nodered","qos":"","retain":"","broker":"db578bcb.6a1f9","x":1920,"y":1000,"wires":[]},{"id":"3dc46606.b73efa","type":"function","z":"61640ddb.348604","name":"Check If We Reached End Of Tour","func":"flag = flow.get('route_robot1_end');\n\nif (flag === true) {\n    return msg\n    \n} else {\n    \n    count = flow.get('route_robot1_count');\n    \n    if (count === 5) {\n        flag = true;\n        \n        flow.set('route_robot1_end', flag);\n    }\n}\n\n","outputs":1,"noerr":0,"x":1600,"y":1080,"wires":[["42b81ce2.b97964"]]},{"id":"568363e5.10b2a4","type":"ui_button","z":"61640ddb.348604","name":"Continue","group":"96974563.89e108","order":7,"width":4,"height":1,"passthru":true,"label":"Continue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1000,"wires":[["e6251068.b45df8"]]},{"id":"e6251068.b45df8","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot1_goal_reached');\n\nif (flag === true) {\n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":1000,"wires":[["e0a280b6.2590d8"]]},{"id":"5dbabb9e.80e034","type":"function","z":"61640ddb.348604","name":"Get Correct Speech Text","func":"count = flow.get('route_robot1_count');\n\n\nif (count === 2) {\n    \n    msg.payload = flow.get('route_robot1_text1');\n    \n} else if (count === 3) {\n    \n    msg.payload = flow.get('route_robot1_text2');\n    \n} else if (count === 4) {\n    \n    msg.payload = flow.get('route_robot1_text3');\n    \n} else if (count === 5) {\n    \n    msg.payload = flow.get('route_robot1_text4');\n    \n} else if (count === 1) {\n    \n    msg.payload = \"Thanks for visiting!\";\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":920,"wires":[["a7783a8c.4e6ac8"]]},{"id":"a7783a8c.4e6ac8","type":"ui_audio","z":"61640ddb.348604","name":"Audio","group":"96974563.89e108","voice":"Google UK English Male","always":false,"x":1370,"y":920,"wires":[]},{"id":"305452c.7127cae","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot1_goal_reached');\n\nif (flag === true) {\n    \n    count = 5\n    \n    flow.set('route_robot1_count', count);\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1040,"y":1160,"wires":[["42b81ce2.b97964","e0a280b6.2590d8"]]},{"id":"292ac17c.c01ede","type":"comment","z":"61640ddb.348604","name":"Tour 1","info":"","x":90,"y":760,"wires":[]},{"id":"f02403ca.820bf","type":"change","z":"61640ddb.348604","name":"Greeting Speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Hello, and welcome to our Exhibition! Please follow me.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":980,"wires":[["a7783a8c.4e6ac8"]]},{"id":"7f9cf9ff.0cf5b8","type":"delay","z":"61640ddb.348604","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":1060,"wires":[["e0a280b6.2590d8"]]},{"id":"f2f2e697.39eca8","type":"ui_button","z":"61640ddb.348604","name":"Repeat Information","group":"96974563.89e108","order":11,"width":4,"height":1,"passthru":true,"label":"Repeat Information","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":650,"y":860,"wires":[["81ee3b5.87113c8"]]},{"id":"81ee3b5.87113c8","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot1_goal_reached');\n\nif (flag === true) {\n    return msg;\n}","outputs":1,"noerr":0,"x":900,"y":860,"wires":[["5dbabb9e.80e034"]]},{"id":"ac0c368f.2d3858","type":"change","z":"61640ddb.348604","name":"Lower Goal Reached FLag","rules":[{"t":"set","p":"route_robot1_goal_reached","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":940,"wires":[[]]},{"id":"10259ff1.1b541","type":"ui_table","z":"61640ddb.348604","group":"96974563.89e108","name":"Exhibit Information","order":32,"width":8,"height":5,"columns":[{"field":"Exhibit Number","title":"Exhibit","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Exhibit Information","title":"Information","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1370,"y":340,"wires":[]},{"id":"b8742834.48f188","type":"inject","z":"61640ddb.348604","name":"","topic":"","payload":"[{\"Exhibit Number\":\"Exhibit 1A\",\"Exhibit Information\":\"This is the 1st Exhibit.\"},{\"Exhibit Number\":\"Exhibit 1B\",\"Exhibit Information\":\"This is the 2nd Exhibit.\"},{\"Exhibit Number\":\"Exhibit 1C\",\"Exhibit Information\":\"This is the 3rd Exhibit.\"},{\"Exhibit Number\":\"Exhibit 1D\",\"Exhibit Information\":\"This is the 4th Exhibit.\"},{\"Exhibit Number\":\"Exhibit 2A\",\"Exhibit Information\":\"This is the 1st Exhibit.\"},{\"Exhibit Number\":\"Exhibit 2B\",\"Exhibit Information\":\"This is the 2nd Exhibit.\"},{\"Exhibit Number\":\"Exhibit 2C\",\"Exhibit Information\":\"This is the 3rd Exhibit.\"},{\"Exhibit Number\":\"Exhibit 2D\",\"Exhibit Information\":\"This is the 4th Exhibit.\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1310,"y":260,"wires":[["10259ff1.1b541"]]},{"id":"92625874.d51508","type":"ui_dropdown","z":"61640ddb.348604","name":"Select Exhibit","label":"Exhibit","tooltip":"","place":"Select option","group":"96974563.89e108","order":35,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Exhibit 1A","value":0,"type":"num"},{"label":"Exhibit 1B","value":1,"type":"num"},{"label":"Exhibit 1C","value":2,"type":"num"},{"label":"Exhibit 1D","value":3,"type":"num"},{"label":"Exhibit 2A","value":4,"type":"num"},{"label":"Exhibit 2B","value":5,"type":"num"},{"label":"Exhibit 2C","value":6,"type":"num"},{"label":"Exhibit 2D","value":7,"type":"num"}],"payload":"","topic":"","x":860,"y":200,"wires":[["d2c0f62f.619f38"]]},{"id":"d2c0f62f.619f38","type":"change","z":"61640ddb.348604","name":"Set Exhibit ID","rules":[{"t":"set","p":"exhibit_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":200,"wires":[[]]},{"id":"9040b82b.e19fa8","type":"function","z":"61640ddb.348604","name":"Change Data in Table","func":"exhibit_id = flow.get('exhibit_id');\ninfo = flow.get('info');\n\nmsg.payload = {\n    command:\"updateOrAddData\",\n    arguments: [\n        [\n            {\n                \"id\": exhibit_id,\n                \"Exhibit Information\": info\n            }\n        ]\n    ],\n    returnPromise: true\n};\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":340,"wires":[["10259ff1.1b541"]]},{"id":"6bd26053.384c","type":"ui_text","z":"61640ddb.348604","group":"96974563.89e108","order":28,"width":6,"height":1,"name":"Exhibit Information Header","label":"","format":"{{msg.payload}}","layout":"row-left","x":1300,"y":140,"wires":[]},{"id":"e7d23c38.9960e","type":"inject","z":"61640ddb.348604","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":870,"y":140,"wires":[["4ded5f84.8c9e4"]]},{"id":"4ded5f84.8c9e4","type":"change","z":"61640ddb.348604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Exhibit Information","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[["6bd26053.384c"]]},{"id":"dfd3aceb.f961","type":"ui_text","z":"61640ddb.348604","group":"96974563.89e108","order":30,"width":6,"height":1,"name":"Exhibit Information Text","label":"Set exhibit information:","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":140,"wires":[]},{"id":"afaac07b.7949b","type":"comment","z":"61640ddb.348604","name":"Exhibit Information","info":"","x":870,"y":80,"wires":[]},{"id":"e8f2a112.3a6fc","type":"ui_text_input","z":"61640ddb.348604","name":"Information Input","label":"Insert new description","tooltip":"","group":"96974563.89e108","order":37,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":870,"y":260,"wires":[["8bb408cc.597108"]]},{"id":"26383e05.697a52","type":"function","z":"61640ddb.348604","name":"Change Exhibit Info","func":"exhibit_id = flow.get('exhibit_id');\ninfo = flow.get('info');\n\nif (exhibit_id === 0) {\n    \n    flow.set('route_robot1_text1', info);\n    \n} else if (exhibit_id === 1) {\n    \n    flow.set('route_robot1_text2', info);\n    \n} else if (exhibit_id === 2) {\n    \n    flow.set('route_robot1_text3', info);\n    \n} else if (exhibit_id === 3) {\n    \n    flow.set('route_robot1_text4', info);\n    \n} else if (exhibit_id === 4) {\n    \n    flow.set('route_robot2_text1', info);\n    \n} else if (exhibit_id === 5) {\n    \n    flow.set('route_robot2_text2', info);\n    \n} else if (exhibit_id === 6) {\n    \n    flow.set('route_robot2_text3', info);\n    \n} else if (exhibit_id === 7) {\n    \n    flow.set('route_robot2_text4', info);\n    \n}\nmsg.payload = exhibit_id;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":400,"wires":[[]]},{"id":"4d1a7dfe.293c54","type":"ui_button","z":"61640ddb.348604","name":"Update Information","group":"96974563.89e108","order":39,"width":4,"height":1,"passthru":false,"label":"Update Description","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":360,"wires":[["9040b82b.e19fa8","26383e05.697a52"]]},{"id":"8bb408cc.597108","type":"change","z":"61640ddb.348604","name":"Store New Information","rules":[{"t":"set","p":"info","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":260,"wires":[[]]},{"id":"e598cf8b.5fcf8","type":"ui_text","z":"61640ddb.348604","group":"96974563.89e108","order":16,"width":7,"height":1,"name":"Tour 2 Text","label":"Tour 2: <br>The guide for Tour 2 is the grey robot.","format":"{{msg.payload}}","layout":"row-left","x":110,"y":1500,"wires":[]},{"id":"d24b9b20.0bc9d8","type":"change","z":"61640ddb.348604","name":"Route and Route End Flags","rules":[{"t":"set","p":"route_robot2","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"route_robot2_end","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1780,"wires":[[]]},{"id":"57438e7b.115de","type":"change","z":"61640ddb.348604","name":"Lower Route Flag","rules":[{"t":"set","p":"route_robot2","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":1840,"wires":[[]]},{"id":"1036412b.6bf76f","type":"function","z":"61640ddb.348604","name":"Raise Goal Reached Flag","func":"flag = flow.get('route_robot2');\nif (flag === true) {\n\n    msg.payload = msg.payload.substr(9,4)\n    if (msg.payload === \"true\") {\n        msg.payload = true;\n    } else {\n        msg.payload = false;\n    }\n    \n} else {\n    msg.payload = false;\n}\n\nflow.set('route_robot2_goal_reached', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1600,"wires":[["ecf29c33.846c3"]]},{"id":"ce02d913.206918","type":"switch","z":"61640ddb.348604","name":"Check If Route Has Started","property":"route_robot2","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":1740,"wires":[["d24b9b20.0bc9d8","fc0b2864.056de8","82e25de.4cdf1a"]]},{"id":"7b99cb4b.dedee4","type":"switch","z":"61640ddb.348604","name":"Check If Route Has Started","property":"route_robot2","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1520,"y":1840,"wires":[["57438e7b.115de"]]},{"id":"c9885af8.5c9c88","type":"ui_button","z":"61640ddb.348604","name":"Start Tour","group":"96974563.89e108","order":19,"width":4,"height":1,"passthru":true,"label":"Start Tour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1740,"wires":[["ce02d913.206918"]]},{"id":"725ecf81.2baf4","type":"ui_button","z":"61640ddb.348604","name":"Stop Tour","group":"96974563.89e108","order":25,"width":4,"height":1,"passthru":true,"label":"Stop Tour","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1840,"wires":[["d4840b8d.4d6eb8"]]},{"id":"50db27d6.cb0388","type":"function","z":"61640ddb.348604","name":"Go to Next Point","func":"count = flow.get('route_robot2_count');\n\nif (count === 1) {\n    \n    goal = flow.get('route_robot2_goal1');\n    flow.set('position_goal_robot2', goal);\n    \n} else if (count == 2) {\n    \n    goal = flow.get('route_robot2_goal2');\n    flow.set('position_goal_robot2', goal);\n    \n} else if (count == 3) {\n    \n    goal = flow.get('route_robot2_goal3');\n    flow.set('position_goal_robot2', goal);\n    \n} else if (count == 4) {\n    \n    goal = flow.get('route_robot2_goal4');\n    flow.set('position_goal_robot2', goal);\n    \n} else if (count == 5) {\n    \n    goal = flow.get('route_robot2_goal5');\n    flow.set('position_goal_robot2', goal);\n    \n}\n\nif (count != 5) {\n    count = count + 1;\n} else {\n    count = 1;\n}\n\nflow.set('route_robot2_count', count);\n        \nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":1740,"wires":[["fe2ab5b9.606eb8","1221ff02.3193d1"]]},{"id":"fe2ab5b9.606eb8","type":"change","z":"61640ddb.348604","name":"Get Position Goal","rules":[{"t":"set","p":"payload","pt":"msg","to":"position_goal_robot2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1640,"wires":[["94fdfa74.8380b8","b879d233.555ff"]]},{"id":"94fdfa74.8380b8","type":"function","z":"61640ddb.348604","name":"Create geometry_msgs/Pose - Move","func":"var input = msg.payload;\n\nvar yaw = input.yaw * Math.PI / 180;\nvar pitch = 0;\nvar roll = 0;\n\nvar cy = Math.cos(yaw * 0.5);\nvar sy = Math.sin(yaw * 0.5);\nvar cp = Math.cos(pitch * 0.5);\nvar sp = Math.sin(pitch * 0.5);\nvar cr = Math.cos(roll * 0.5);\nvar sr = Math.sin(roll * 0.5);\n\nvar pose = {\nposition : {\n    x : input.px,\n    y : input.py,\n    z : 0\n},\norientation : {\n    w : cr * cp * cy + sr * sp * sy,\n    x : sr * cp * cy - cr * sp * sy,\n    y : cr * sp * cy + sr * cp * sy,\n    z : cr * cp * sy - sr * sp * cy\n}\n};\n\nmsg.payload = pose\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":1640,"wires":[["67d96da.4f5b194"]]},{"id":"67d96da.4f5b194","type":"mqtt out","z":"61640ddb.348604","name":"Send Navigation Goal","topic":"robot2_send_goal_nodered","qos":"","retain":"","broker":"db578bcb.6a1f9","x":2120,"y":1640,"wires":[]},{"id":"1221ff02.3193d1","type":"function","z":"61640ddb.348604","name":"Check If We Reached End Of Tour","func":"flag = flow.get('route_robot2_end');\n\nif (flag === true) {\n    return msg\n    \n} else {\n    \n    count = flow.get('route_robot2_count');\n    \n    if (count === 5) {\n        flag = true;\n        \n        flow.set('route_robot2_end', flag);\n    }\n}\n\n","outputs":1,"noerr":0,"x":1600,"y":1760,"wires":[["7b99cb4b.dedee4"]]},{"id":"136b960f.5c805a","type":"ui_button","z":"61640ddb.348604","name":"Continue","group":"96974563.89e108","order":20,"width":4,"height":1,"passthru":true,"label":"Continue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":1680,"wires":[["e621dfce.f14ae"]]},{"id":"e621dfce.f14ae","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot2_goal_reached');\n\nif (flag === true) {\n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":1680,"wires":[["50db27d6.cb0388"]]},{"id":"ecf29c33.846c3","type":"function","z":"61640ddb.348604","name":"Get Correct Speech Text","func":"count = flow.get('route_robot2_count');\n\n\nif (count === 2) {\n    \n    msg.payload = flow.get('route_robot2_text1');\n    \n} else if (count === 3) {\n    \n    msg.payload = flow.get('route_robot2_text2');\n    \n} else if (count === 4) {\n    \n    msg.payload = flow.get('route_robot2_text3');\n    \n} else if (count === 5) {\n    \n    msg.payload = flow.get('route_robot2_text4');\n    \n} else if (count === 1) {\n    \n    msg.payload = \"Thanks for visiting!\";\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1600,"wires":[["fee667e8.6b5c18"]]},{"id":"fee667e8.6b5c18","type":"ui_audio","z":"61640ddb.348604","name":"Audio","group":"96974563.89e108","voice":"Google US English","always":false,"x":1370,"y":1600,"wires":[]},{"id":"d4840b8d.4d6eb8","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot2_goal_reached');\n\nif (flag === true) {\n    \n    count = 5\n    \n    flow.set('route_robot2_count', count);\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1100,"y":1840,"wires":[["7b99cb4b.dedee4","50db27d6.cb0388"]]},{"id":"1a8ff862.c07208","type":"comment","z":"61640ddb.348604","name":"Tour 2","info":"","x":90,"y":1440,"wires":[]},{"id":"fc0b2864.056de8","type":"change","z":"61640ddb.348604","name":"Greeting Speech","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Hello, and welcome to our Exhibition! Please follow me.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1660,"wires":[["fee667e8.6b5c18"]]},{"id":"82e25de.4cdf1a","type":"delay","z":"61640ddb.348604","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":1740,"wires":[["50db27d6.cb0388"]]},{"id":"56a02345.b409ac","type":"ui_button","z":"61640ddb.348604","name":"Repeat Information","group":"96974563.89e108","order":24,"width":4,"height":1,"passthru":true,"label":"Repeat Information","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":650,"y":1540,"wires":[["f75f4d53.ab69e"]]},{"id":"f75f4d53.ab69e","type":"function","z":"61640ddb.348604","name":"If Goal Is Reached Continue","func":"flag = flow.get('route_robot2_goal_reached');\n\nif (flag === true) {\n    return msg;\n}","outputs":1,"noerr":0,"x":900,"y":1540,"wires":[["ecf29c33.846c3"]]},{"id":"b879d233.555ff","type":"change","z":"61640ddb.348604","name":"Lower Goal Reached FLag","rules":[{"t":"set","p":"route_robot2_goal_reached","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1580,"wires":[[]]},{"id":"78e71d9a.556e54","type":"ui_microphone","z":"61640ddb.348604","name":"Robot 1 Microphone","group":"96974563.89e108","order":9,"width":3,"height":1,"maxLength":5,"maxRecogLength":"0","timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":130,"y":1000,"wires":[["59dd266d.d86e18"]]},{"id":"8ab9e107.59171","type":"ui_microphone","z":"61640ddb.348604","name":"Robot 2 Microphone","group":"96974563.89e108","order":22,"width":3,"height":1,"maxLength":5,"maxRecogLength":"0","timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":130,"y":1680,"wires":[["65a83e0d.c1e3a"]]},{"id":"65a83e0d.c1e3a","type":"function","z":"61640ddb.348604","name":"Check Command","func":"if (msg.payload === 'start') {\n    \n    return [null, null, msg, null];\n    \n} else if (msg.payload === 'continue') {\n    \n    return [null, msg, null, null];\n    \n} else if (msg.payload === 'repeat') {\n    \n    return [msg, null, null, null];\n    \n} else if (msg.payload === 'stop') {\n    \n    return [null, null, null, msg];\n    \n}\n","outputs":4,"noerr":0,"x":350,"y":1680,"wires":[["56a02345.b409ac"],["136b960f.5c805a"],["c9885af8.5c9c88"],["725ecf81.2baf4"]]},{"id":"59dd266d.d86e18","type":"function","z":"61640ddb.348604","name":"Check Command","func":"if (msg.payload === 'start') {\n    \n    return [null, null, msg, null];\n    \n} else if (msg.payload === 'continue') {\n    \n    return [null, msg, null, null];\n    \n} else if (msg.payload === 'repeat') {\n    \n    return [msg, null, null, null];\n    \n} else if (msg.payload === 'stop') {\n    \n    return [null, null, null, msg];\n    \n}\n","outputs":4,"noerr":0,"x":350,"y":1000,"wires":[["f2f2e697.39eca8"],["568363e5.10b2a4"],["aec3ade8.f86a38"],["7b97fc6f.9eb39c"]]}]